[2014-12-04 14:31] kytrinyx opened #1 "How to set up a local dev environment"
See https://github.com/exercism/x-common/pull/28

See issue #2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository

[2015-03-16 13:01] kytrinyx opened #2 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2015-04-23 03:22] kytrinyx opened #4 "Launch planning"
_Note: the launch checklist has been made obsolete by a brand new Launch Guide: https://github.com/exercism/docs/blob/master/language-tracks/launch/README.md_

Let's keep the general discussions around what needs to be done here in this issue, and open new, actionable issues for next steps.

[2015-07-11 22:39] kytrinyx commented on #2
Fixed in 6b751a05cec4e83a116f1a5481dec2c7417bf90b

[2015-07-11 22:39] #2 closed

[2015-07-17 18:45] adelcambre commented on #1
Can this be closed with the addition of https://github.com/exercism/xbash/blob/master/SETUP.md or does that need to be fleshed out more?

[2015-07-18 20:13] kytrinyx commented on #1
The SETUP.md document is what gets included into all of the READMEs for the exercises. In retrospect that's totally not obvious, and probably not what you intended. We could move the contents of SETUP into the README (I don't think it needs to be fleshed out more).

[2016-01-21 00:55] kytrinyx opened #8 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-03-15 23:15] kenden opened #9 "hello_world.sh tests do not pass"
The tests for hello_word.sh do not pass.
[code]
The content of hello_world.sh comes from
https://github.com/exercism/xbash/blob/master/hello-world/example.sh
and looks correct:
[code]

**Versions of software used:**
[code]

[2016-03-16 10:24] kenden commented on #9
The issue is that my ```hello_world.sh``` is not executable.
I made a PR to fix this. The code is correct, it's a burden to have to ```chmod +x hello_word.sh``` and confusing when nothing points to this issue in the very first excercise.

[2016-03-16 23:07] kytrinyx commented on #9
/cc @adelcambre Do you have a moment to check this? I'm (literally) on my way to India, and won't be able to review this for a week or so.

[2016-03-16 23:10] adelcambre commented on #9
@kytrinyx Yeah!

@kenden The change seems sane to me, I'll give it a once over and make any comments over there.

[2016-03-17 17:58] kenden commented on #9
@adelcambre Thanks for merging.
How does ```exercism fetch bash hello-world``` get the last version (from master)?

[2016-03-22 18:27] #8 closed

[2016-03-22 18:28] kytrinyx commented on #9
You'd have to delete the old files locally, the exercism cli doesn't overwrite existing files.

[2016-04-02 17:20] kytrinyx opened #14 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-05 12:12] kenden commented on #9
Verified fixed. Closing.

[2016-04-05 12:12] #9 closed

[2016-04-06 23:52] kytrinyx commented on #14
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 17:02] duffn commented on #14
There are no references to help.exercism.io in this repository.

[2016-04-07 17:17] kytrinyx commented on #14
Killin' it, @duffn! Thank you so much.

[2016-04-07 17:17] #14 closed

[2016-05-11 12:12] joeltaylor opened #15 "Add `checklist_issue` number to config.js"
This is part of an issue in exercism/x-api#109

Issue number is 4

[2016-05-11 12:13] joeltaylor commented on #15
Opting for making PR's instead of flooding each track with the same issue

[2016-05-11 12:13] #15 closed

[2016-06-13 14:18] kytrinyx opened #18 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-08-18 19:26] kytrinyx opened #24 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-08-18 22:10] Dog commented on #18
I believe this issue has been resolved and can be closed.

[2016-08-19 00:03] #18 closed

[2016-08-19 00:03] kytrinyx commented on #18
Thanks!

[2016-08-29 04:04] aleveille commented on #4
Just checking on the state of this issue:
- Bash is missing at least 3 problems. I'm new to Exercism, but quite proficient in Bash. Is there any problems that are idiomatic of Exercism that we want exercises for? Or should I go for exercises that I think will make the more sense for bash?
- I see that some documentation have been written, but perhaps we can improve it a little bit 😃
- I believe th

[2016-08-29 04:07] aleveille commented on #24
@kenden : are you working on this? I would open a few PR for step 2. "Update the difficulty" and step 3. "Add topics"

[2016-08-29 09:37] kenden commented on #24
@aleveille  Thanks for checking. I haven't starting on steps 2 or 3 yet. Go ahead if you want and have time for it!

[2016-08-29 09:51] kenden commented on #4
@aleveille I just picked problems in other tracks that followed the ones we have already in xbash, and ported them. There might be a better way, some easier problems in, say, Python, can be much harder in bash but then we can just "mark them harder" in config.json.

The documentation can always be improved :)
Especially how to set up the local devenv to contribute https://github.com/exercism/xbash

[2016-09-02 14:32] kytrinyx commented on #4
We have a page that lists all the exercises that are missing in bash: http://exercism.io/languages/bash/contribute

I think this is the best approach.

Haha, yes!

[2016-09-18 04:03] qjd2413 opened #27 ""other whitespace" in bob_test fails example.sh"
All other tests pass. bob.sh is executable.
Using bash 4.3.46 and Bats 0.4.0

[2016-09-19 07:03] kenden commented on #27
@qjd2413 Thanks for reporting the issue!

"It works on my machine" (TM)(C) with the same versions...

Could you send the results of those commands?
[code]

Also, could you add ` set -o xtrace` (debug mode) after the first line in
`exercises/bob/bob.sh`, run:
[code]
And send the result?

[2016-09-19 17:01] qjd2413 commented on #27
[code]
[code]

[2016-09-19 21:05] kenden commented on #27
Strange, "\u00a0" is matched by [[:space:]] on mac but not Linux. I could repro and fix on Ubuntu.

[2016-11-04 17:14] bkeepers opened #29 "Hard test cases for hello-world"
I found the last two test cases for the hello world example to be rather difficult.

I don't consider myself proficient in bash by any means, but I have written my share of shell scripts.  Figuring out how to detect if there are zero arguments vs a blank argument in bash seems like an intermediate challenge.

Could they be moved to a different exercise later on?

[2016-11-04 17:16] kytrinyx commented on #29
Yeah, it seems like Hello World should be really, really straight-forward. Let's start by removing the test cases from hello world, and we can leave this open to make sure to add them to something else later.

[2016-11-07 09:21] kenden commented on #29
This can be closed, right?

[2016-11-14 16:08] platinumthinker commented on #27
Usage this for utf support:
[code]

[2016-11-20 15:15] kytrinyx opened #34 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-24 16:35] kytrinyx commented on #34
We've had a small handful of contributions in the past year, but this track can be considered *orphaned*.

[2016-11-24 16:35] #34 closed

[2016-11-26 12:01] kotp commented on #29
I think this is left open in hopes to add a Bash exercise where argument validation and arity are being covered.

Is there an exercise that does this in the track yet?

[2016-11-28 13:34] kotp opened #35 "Track Maintainer/Track Mentor"
Please add me to this track, would like to get it up and in shape.

@kytrinyx

[2016-11-28 23:33] kytrinyx commented on #35
Done and done! Thank you @kotp!

[2016-11-28 23:33] #35 closed

[2016-12-03 03:32] kotp commented on #29
Rikki issue created for intro comment.  This should be a easy testing, easy solve, proof of "You got here and here is where you should be!" kind of exercise, with a comment that communicates "Congratulations on the submission, welcome to the Bash track, normally we would review others submissions, as well as `exercism fetch bash` to get the next exercise..."

[2016-12-16 18:28] kytrinyx opened #36 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2017-04-04 15:58] kytrinyx opened #38 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 23:03] kotp commented on #38
Created the `pinned` and `security` labels.

[2017-04-05 17:41] kytrinyx commented on #38
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-05 19:05] kotp commented on #38
#39 places the empty `stale.yml` file.

[2017-06-11 13:33] jaggededgedjustice opened #47 "Error Handling exercise planning"
What should the error handling exercise cover for bash? The current list I can think of would be:
* Argument validation
* set -e
* set -u

Are there others?

Though I’m not sure how to test usage of the set flags . Perhaps the argument validation would be enough, that could resolve the remaining concerns from #29.

[2017-06-11 13:45] kotp commented on #47
Specifically for the Hello World exercise or a new exercise?

[2017-06-11 15:37] jaggededgedjustice commented on #47
New exercise, https://github.com/exercism/x-common/blob/master/exercises/error-handling/description.md

[2017-06-11 16:19] kotp commented on #47
In that case, definitely pile them up.

Does `getopts` give you the information for the set flags?

[2017-06-11 19:58] vlisivka commented on #47
Typical "safe" bash script uses `set -ue`, sometimes `set -ue -o pipefail`. I wrote whole library for bash which works with `set -ue` options.

[2017-06-12 17:41] jaggededgedjustice commented on #47
It turns out the $SHELLOPTS variable will contain values for the things controlled via set. So `echo $SHELLOPTS | grep ...` can tell you if a specific flag was used.

[2017-06-17 15:43] jaggededgedjustice commented on #47
I added #49. It doesn't do anything with 'set', the script being tested is run in a sub shell and the 'set -eu' options aren't inherited and don't escape a subshell. So I can't see a way to write a test and verify that a given option was used by the script. Also, bats is doing a 'set -e' which will be visible if you're trying to check SHELLOPTS after running your script.

[2017-06-17 15:55] vlisivka commented on #47
+jaggededgedjustice Why not to use `source` instead of `run` in this particular case?

[2017-06-18 13:22] jaggededgedjustice commented on #47
I had been thinking of having separate steps for each thing, so 1 function for arg checking, a different function to demonstrate use of 'set -e' and so on. But I can't see how to make that work, so maybe it's just 1 script and then it can be sourced to check the use of set flags. Depends if there are other situations to address besides arg checking.

[2017-07-22 15:07] kytrinyx commented on #38
I don't think we need this for the bash track.

[2017-07-22 15:07] #38 closed

[2017-07-22 15:07] kytrinyx commented on #38
Edit:

(We can always reconsider later if we see a huge number of stale issues).

[2017-07-22 15:53] kytrinyx commented on #29
This was resolved in #52 where we add the new 'two-fer' exercise to replace 'hello-world', and simplify hello-world.

[2017-07-22 15:53] #29 closed

[2017-07-22 15:59] kytrinyx opened #61 "We need topics for each exercise for the new prototype"
We are working on a redesign of Exercism, which will have a much richer way of structuring the exercises.

The short version is that we'll have a handful of "core" exercises that are essential for learning about the language (typically 15-20), where completing each exercise unlocks a bunch of optional exercise that let you dive more deeply into different topics and practice different aspects of th

[2017-07-22 16:44] kytrinyx commented on #61
Sorry about the noise—I was testing a script in banana-cream-pie.

[2017-07-22 16:44] kytrinyx opened #62 "Topics: what is hello-world about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for hello-world.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that hello-world touches upon?

[2017-07-22 16:44] kytrinyx opened #63 "Topics: what is two-fer about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for two-fer.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that two-fer touches upon?

[2017-07-22 16:44] kytrinyx opened #64 "Topics: what is gigasecond about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for gigasecond.
See https://github.com/exercism/bash/issues/61 for context.

@ConstantlyLost, @canel-rom1, @dantiel, @deepbsd, @fbi1714, @fwten, @mkrehbs, @patbl, @rpalo - Having solved this, what would you say that gigasecond is about? Did you struggle with anything in particular? What did you learn?

[2017-07-22 16:45] kytrinyx opened #65 "Topics: what is leap about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for leap.
See https://github.com/exercism/bash/issues/61 for context.

@ConstantlyLost, @canel-rom1, @dantiel, @deepbsd, @fwten, @mattj-io, @mkrehbs, @patbl, @rpalo, @timmyjose - Having solved this, what would you say that leap is about? Did you struggle with anything in particular? What did you learn?

[2017-07-22 16:45] kytrinyx opened #66 "Topics: what is hamming about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for hamming.
See https://github.com/exercism/bash/issues/61 for context.

@ConstantlyLost, @canel-rom1, @dantiel, @deepbsd, @fwten, @mattj-io, @mkrehbs, @patbl, @rpalo, @timmyjose - Having solved this, what would you say that hamming is about? Did you struggle with anything in particular? What did you lea

[2017-07-22 16:45] kytrinyx opened #67 "Topics: what is rna-transcription about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for rna-transcription.
See https://github.com/exercism/bash/issues/61 for context.

@ConstantlyLost, @canel-rom1, @dantiel, @deepbsd, @fwten, @mattj-io, @mkrehbs, @nielssorensen, @patbl, @rpalo, @timmyjose - Having solved this, what would you say that rna-transcription is about? Did you struggle with anyt

[2017-07-22 16:45] kytrinyx opened #68 "Topics: what is raindrops about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for raindrops.
See https://github.com/exercism/bash/issues/61 for context.

@canel-rom1, @dantiel, @fwten, @mattj-io, @mkrehbs, @patbl, @timmyjose - Having solved this, what would you say that raindrops is about? Did you struggle with anything in particular? What did you learn?

[2017-07-22 16:45] kytrinyx opened #69 "Topics: what is word-count about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for word-count.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that word-count touches upon?

[2017-07-22 16:45] kytrinyx opened #70 "Topics: what is bob about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for bob.
See https://github.com/exercism/bash/issues/61 for context.

@dantiel, @mkrehbs, @patbl - Having solved this, what would you say that bob is about? Did you struggle with anything in particular? What did you learn?

[2017-07-22 16:45] kytrinyx opened #71 "Topics: what is difference-of-squares about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for difference-of-squares.
See https://github.com/exercism/bash/issues/61 for context.

@patbl - Having solved this, what would you say that difference-of-squares is about? Did you struggle with anything in particular? What did you learn?

[2017-07-22 16:45] kytrinyx opened #72 "Topics: what is anagram about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for anagram.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that anagram touches upon?

[2017-07-22 16:45] kytrinyx opened #73 "Topics: what is pangram about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for pangram.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that pangram touches upon?

[2017-07-22 16:45] kytrinyx opened #74 "Topics: what is phone-number about?"
In preparation for the launch of the Exercism redesign, we need to decide what topics to list for phone-number.
See https://github.com/exercism/bash/issues/61 for context.

What topics would you say that phone-number touches upon?

[2017-07-22 16:46] kytrinyx commented on #62
We changed hello world to be just about outputting a hard-coded string to the terminal, since the original exercise was devilishly difficult if your experience with Bash is limited.

So right now I would kind of say that Hello World is about echoing to standard out... but we might even just leave the topics for this one empty.

[2017-07-22 16:47] kytrinyx commented on #24
I've created a tracking issue for topics here: https://github.com/exercism/bash/issues/61

[2017-07-22 17:04] kytrinyx opened #75 "We need a rough estimate of difficulty for each exercise"
We've never really taken a pass through this track to figure out the relative difficulties of each exercise on a scale from 1 - 10 (1 == easy, 10 == hard).

If we could order the exercises so that the difficulty ramps up more gently, we can provide a better experience to those who are working through the exercises.

These are the exercises that we have

- hello-world
- gigasecond
- leap
- hamming

[2017-07-22 17:05] kytrinyx commented on #24
I've created an issue for difficulties here: https://github.com/exercism/bash/issues/75

[2017-07-22 17:05] #24 closed

[2017-07-22 17:08] kytrinyx commented on #4
@aleveille @kenden we have enough exercises to launch now, but we still need some help with both the user-facing documentation in `docs/` and the contributing documentation (README.md).

I think we still also need to make a decision about whether or not linux utilities are available to us (my first thought is "yes", since a huge part of bash scripting is getting familiar with the various utilities

[2017-07-29 17:29] kytrinyx commented on #47
Closed by #49

[2017-07-29 17:29] #47 closed

[2017-08-03 11:20] kotp commented on #69
#48 is missing the test for this exercise, but needs a test suite.  See that issue for branch information.

Text analysis
Strings

[2017-08-13 07:54] m-a-ge opened #77 "word-count: test suite is missing which causes Travis CI build to fail"
From Travis CI logs:
[code]

We should add `word_count_test.sh` test suite ASAP to fix this issue

[2017-08-13 10:08] kotp commented on #77
Thank you @m-a-ge

[2017-08-22 17:21] m-a-ge commented on #77
I am not that good with `bash`, so I need more time to finish #78

[2017-08-27 08:53] kotp commented on #77
Closed via #78

[2017-08-27 08:53] #77 closed

[2017-08-29 13:12] Smarticles101 commented on #4
Does the documentation still need some work before we can launch @kytrinyx?

[2017-09-01 10:33] kenden commented on #4
Hm, if we say linux utilities are available to us, what versions? macOS uses old versions of most tools (sed, base64, grep, date, cat...) which behave slightly differently.

Most of the time it's possible to make a program work on linux and macOs by finding the option that works on both platforms (ex `base64 --decode` instead of `base64 -D`.

Or we could require to install the GNU version, but it'

[2017-09-01 17:31] kytrinyx commented on #4
@kenden You make good points.

I don't know enough bash to have a strong opinion here, so I'm going to let you all hash out the pros/cons and make a suggestion for what you think is wise.

[2017-09-02 18:29] kenden commented on #27
Fixed

[2017-09-02 18:29] #27 closed

[2017-09-03 21:00] kytrinyx commented on #4
I've updated this issue to point to the new launch guide. In short: let's keep discussions about what to do next to this issue, and use these discussions + the guide as a jumping off point to opening new, actionable issues.

[2017-09-04 03:14] Smarticles101 opened #82 "Add ignore's to every test but the first for every exercise"
In each exercise, every test should be ignored except the first one. Documentation about this should be provided in the first exercise Ref. #80

[2017-09-07 20:34] Smarticles101 opened #86 "Two-fer readme talks about tdd like it's the second exercise"
So two-fer is meant to be the second exercise, but it's a little too difficult to be the second one on bash ([986b124](https://github.com/exercism/bash/commit/986b12455ed4c1e0190507161999d0a2d49f2780)), so gigasecond is. However, because the readme's are generated, the two-fer readme explains test driven development like it is the second exercise. Is there a fix for this as far as generation goes

[2017-09-07 20:37] NobbZ commented on #86
Just delete that section from the README should work…

[2017-09-07 22:10] budmc29 commented on #4
That sounds good, the default tools can get the job done and if we keep the tests POSIX compliant we should be fine (extra practice for that will always help the contributors).

I will definitely be up to help maintain a sed and/or awk track, since I always regret not spending more time with that, especially when I have to do tedious tasks that take minutes when I know that those tools will get th

[2017-09-07 22:37] budmc29 commented on #4
What is needed to have Bash as language available for V2?
Is the weak documentation the only blocker?

[2017-09-07 22:57] budmc29 opened #87 "Create skeleton files for exercises"
Do we need to create the code files for Bash? I see some languages have that implemented, and some don't.

Reference https://github.com/exercism/python/commit/de66a31bb7100ebcb2b19c0bec54184ce61ffdd8#diff-3ac5069a6087f5b553775a0720254dc1

[2017-09-07 23:02] Smarticles101 commented on #87
I know on the java track we have a policy to only include skeleton files for the first like 20 exercises or so. We could potentially do something like this on the bash track, but the tests are just using testing against output of the script. I'm not sure that there's really much we could put in skeletons like method headers and such that would usually be in them on other tracks

[2017-09-07 23:13] budmc29 commented on #87
I was thinking about something along these lines:
[code]

[2017-09-07 23:15] Smarticles101 commented on #87
That seems like a good idea. We could also include variables simply getting the input passed in. Thoughts @exercism/bash?

[2017-09-08 08:27] kenden commented on #87
@Smarticles101 variables getting the input passed in, could you detail more what you're thinking about?

Also, I'd like some nice default included. [This page](http://kvz.io/blog/2013/11/21/bash-best-practices/) has a few nice ones. At least the the `set` commands?

[2017-09-08 09:28] robphoenix commented on #86
@Smarticles101 The Go README is in the process of being updated by @tleen to document this, the PR may help with this: https://github.com/exercism/go/pull/846

[2017-09-08 10:16] Smarticles101 commented on #87
@kenden Like `input="$1";`

[2017-09-08 21:18] kytrinyx commented on #86
You could add the section to a file named `.meta/hints.md` in the `gigasecond` exercise, which would add the TDD part to the gigasecond exercise.

We probably shouldn't assume that two-fer is the second exercise in problem-specifications.

[2017-09-08 22:16] kytrinyx commented on #4
Documentation is the big blocker.

If we decide on this we need to go through the existing exercises and make sure they follow these guidelines. We'll also need to document this in the README for contributors/new maintainers.

It would probably be worth going through the launch guide step by step for the bash track to make sure we have all the bases covered:

https://github.com/exercism/docs/blob/

[2017-09-08 23:12] budmc29 commented on #4
Will read it and start working on whatever I can in preparation.

[2017-09-08 23:24] budmc29 opened #88 "Decision: Plain Bash or POSIX compliance?"
It might be a good idea to have the discussion about this in this separate issue.

As @kenden stated here: https://github.com/exercism/bash/issues/4#issuecomment-326548299, we need to decide what are the requirements for this track.

I agree to that, we should just teach plain Bash with no extra requirements or POSIX compliance in the code or in the tests.

Learning bash is difficult and for most

[2017-09-08 23:41] Smarticles101 commented on #88
I agree for all the same reasons

[2017-09-09 20:00] budmc29 commented on #64
**About:** Date/time manipulation and using parameters.
**Tags:** date, time, string, transforming.
**Difficulty:** Easy.
**Core?:** I would vote yes.

The exercise feels easy and a good starting point, can be solved with 1 liner if the user just want to get it done fast, since there are no tests for incorrect inputs.

[2017-09-09 20:00] budmc29 commented on #75
hello-world: easy
gigasecond: easy

[2017-09-09 20:03] budmc29 commented on #61
Looks like the config.json is updated.
Do we still need the Topics: what is x issues?

[2017-09-09 20:46] budmc29 commented on #4
#### Getting Bash in Exercism V2

Decisions:
  - [ ] Programming language variants (discussion opened)
  - [x] Language name and track ID
  - [x] Installation and dependencies
  - [x] Testing framework

Landing Page - Prepare the track:
  - [ ] Language track icon (requested)
  - [ ] Introductory copy
  - [ ] User-facing documentation
  - [x] Maintainer bios (both maintainers have show_on_website:

[2017-09-10 18:23] deepbsd commented on #64
Hi Katrina,
I would say that gigasecond is more of an intermediate level task.  I think people who actually use bash every day tend to use it on sys admin type tasks, such as automating the creation of a dev environment or some sort of directory structure or searching for files or line entries matching a pattern.  Bash is great at that stuff but it can do so much more.  So I would place Gigasecond

[2017-09-18 14:00] thirdppp opened #90 "Verify contents and format of track documentation"
Each language track has documentation in the docs/ directory, which gets included on the site
on each track-specific set of pages under /languages.

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentation.md

Please take a moment to look

[2017-09-18 23:55] kytrinyx commented on #61
I added some topics, but I'd really like someone who knows more bash to go through and consider what topics are relevant.

I don't understand the question. Would you elaborate please?

[2017-09-18 23:59] kytrinyx commented on #64
@budmc29 Are we missing tests? Or are you saying that we're not doing verification of the input format?

@deepbsd thanks so much for your input on this one. I would concur that this looks like a somewhat intermediate (difficulty 3 or 4, maybe).

[2017-09-21 11:51] kytrinyx commented on #4
I think this looks right. It's no problem that `show_on_website` is false.

[2017-09-23 16:00] budmc29 commented on #61
Sorry, I meant to say, do we still need the opened issues on /bash that are related to what is each exercise about, ex: "Topics: what is raindrops about? #68"?

[2017-09-23 16:03] budmc29 commented on #64
Just the input format, all the tests assume that the user will pass a correct date.
That's not a bad thing, it helps to keep the exercise simple, because if you add invalid format, the difficulty would be increased a lot.

I still think the difficulty is easy, since you can get the exercise with it's current task done with a few google searches or man page readings.

[2017-09-23 16:20] deepbsd commented on #64
I guess this depends on whether exercism should appeal to the many new people installing Linux or using OSX for the first time.  These people may have never written a line of code before, but might just be discovering the power of the command line for the first time.  I would hope exercism could appeal to both the newest newbie as well as the most grizzled graybeard.  -Dave

    On Saturday, Septe

[2017-09-23 18:27] kytrinyx commented on #61
Got it. My take is "yes, we do". I made up some topics, but I'm not a credible source. I'd prefer it if people who are familiar with the language and are invested in the track would discuss each individual exercise to determine topics.

[2017-09-23 20:13] budmc29 commented on #64
@deepbsd what would you say the difficulty number is?
Also, what do you think about my proposed tags for this exercise?

[2017-09-23 23:07] deepbsd commented on #64
@budmc29 I would say 4.  Probably a 3 on Linux.  Gnu date is not installed on OSX by default, so a user will probably need to install gdate using, say, Homebrew or another package manager.  Once that is done the solution is a one-liner. 

On the tags, maybe 'command substitution' instead of 'string transforming'?  What do you think?

    On Saturday, September 23, 2017 4:13 PM, Bud (Mugur) Chirica

[2017-09-23 23:19] budmc29 commented on #64
Okay makes sense, didn't know about OSX not having Gnu date. We'll bump it for 4.

Yes, it sound good.

**Tags:** date, time, command substitution.

[2017-09-25 23:45] budmc29 commented on #70
**About**: Parsing user input and return a response based on that input.
Tags: String, regular_expression, parsing.
Difficulty: 5.
Core?: Maybe.

This was a challenging exercise for bash but gave me tons of fun. I think it's a good one for users that are motivated to learn bash, and they will also get a taste of the sparse online documentation and hopefully reach for the man pages.
I will definite

[2017-09-26 00:23] dantiel commented on #70
i found the exercise annoying (exercismistic) to combine minimal parsing with internal logic (vegetable logic), like the hello world exercise habit, how to make a structure that deals in hello world way with errors, as well. its indeed difficult to find out which is the real bash, as been said

Von: (Mugur) Chirica Bud <notifications@github.com>
Antworten: exercism/bash <reply@reply.github.com>
Da

[2017-09-26 08:34] budmc29 commented on #70
@dantiel, what do you think about the proposed tags and difficulty?

I'm also thinking it might be worth to tell the users that are not familiar with bash (or unix in general) to read the man page? I found way better information there than on Google (especially on stack overflow where people mostly posted one liners without much explanation).

[2017-09-26 11:03] dantiel commented on #70
mayhaps in bash it could be handy if the exercises wore more template code. yes to read the man pages should papobably be hint as well

Von: (Mugur) Chirica Bud <notifications@github.com>
Antworten: exercism/bash <reply@reply.github.com>
Datum: 26. September 2017 at 10:34:43
An: exercism/bash <bash@noreply.github.com>
CC: dantiel <dantiel@posteo.de>, Mention <mention@noreply.github.com>
Betreff: 

[2017-09-26 11:10] budmc29 commented on #70
Have you seen this? https://github.com/exercism/bash/issues/87

[2017-09-28 13:39] fbi1714 commented on #75
hello-world = 1
word-count = 8

[2017-09-30 18:25] Insti commented on #90
This issue is an exact copy of: https://github.com/exercism/bash/issues/36

[2017-10-02 07:20] kenden commented on #90
@Insti thanks for the note! Closing as duplicate of https://github.com/exercism/bash/issues/36

[2017-10-02 07:20] #90 closed

[2017-10-12 21:01] #86 closed

[2017-10-13 06:04] rpalo commented on #75
I've got some suggestions for topics and difficulties.  Would it be better for me to leave comments on each of the relevant issues?  Or, I can put together a pull request with all of my suggested tweaks to `config.json` to be evaluated all in one place.  Whatever you think is best.

In the meantime:
hello-world = 1
gigasecond = 3
bob = 3
leap = 1
raindrops = 1
difference-of-squares = 1
pangram = 2

[2017-10-16 13:57] kenden commented on #64
if we [do not want to depend on utilities](https://github.com/exercism/bash/issues/88), including `date`because they take different parameters on different platforms, then this exercise become very hard.
I would even vote to remove it in this case.

[2017-10-20 08:17] budmc29 commented on #75
I think that's a very good idea if you have the time, it would help to explain why you gave each exercise a different rating.

That can be done after we have more opinions about the difficulty of each exercise from various developers.

[2017-10-20 11:08] kenden commented on #88
Same decision to make for bats: https://github.com/bats-core/bats-core/issues/28

[2017-10-30 00:16] kotp commented on #64
`time` I think is available on OSX.  Is there something that is requiring gdate to be ran to get back a date?

[2017-10-30 09:13] kenden commented on #64
@kotp The [example](https://github.com/exercism/bash/blob/master/exercises/gigasecond/example.sh#L4) fails with the macos version of `date`.

[code]

Using `gdate`, it works fine.

[2017-11-03 13:22] sbfaulkner commented on #65
one thing I just  found  (not sure if intentional or not)...

the tests exercises prior to leap explicitly use base when running the test...
(for example) `run bash bob.sh 'Hello.'`

however, in leap, it it expects leap.sh to be chmod +x
(eg. it simply uses `run ./leap.sh 1996`)

[2017-11-03 15:05] deepbsd commented on #65
I think that's a nice catch.

    On Friday, November 3, 2017 9:22 AM, S. Brent Faulkner <notifications@github.com> wrote:

 one thing I just found (not sure if intentional or not)...the tests exercises prior to leap explicitly use base when running the test...
(for example) run bash bob.sh 'Hello.'however, in leap, it it expects leap.sh to be chmod +x
(eg. it simply uses run ./leap.sh 1996)—
You

[2017-11-17 02:54] #82 closed

[2017-11-28 03:18] Smarticles101 commented on #62
I think `stdout` is a good choice, the only other topic I could think of adding is possibly `strings`?

[2017-12-19 20:11] sjwarner-bp commented on #4
Hi all, I've contributed a few times here and would love to help get this language track up and running for exercism v2!

Where can I start? I'm more than happy to trawl through documentation, I just want a couple of pointers of what and where :slightly_smiling_face:

I think the config.json has been sorted (there are lots of open issues to add topics, but I think all exercises have at least one t

[2017-12-22 16:54] kytrinyx commented on #4
@sjwarner-bp I've added you to the list of maintainers for the track. I don't actually know the state of things here, unfortunately. That might reasonably be the most useful thing you could help figure out 🌷

[2017-12-22 18:18] sjwarner-bp commented on #4
Thanks for that @kytrinyx - I'll try and work out the state of things here and do any necessary tidy-up. I don't feel like it's too far away from being ready 😄

[2017-12-22 18:52] Smarticles101 commented on #4
@sjwarner-bp and @kytrinyx
I think that the `config.json` definitely needs a little fixing up as in the order of exercises and difficulties for most should be re-done. There are very little exercises, and only one of them has a difficulty higher than 2, which doesn't seem quite right. Maintainer-wise, I've been the only one I've seen around for a while. My bash skills are only mediocre, so most pu

[2017-12-22 18:55] sjwarner-bp commented on #4
@Smarticles101 thanks for the update! I was also going to suggest the `config.json` needs a little more work, but I'm happy to pick that up in the near future. I'd be interested to hear your thoughts on it 🙂

Ok, that's good to know - I don't often like to merge my own submissions, as a second pair of eyes is always welcome, though I can see this might be a little more difficult here! I'll try and

[2017-12-22 23:47] kytrinyx commented on #4
Yeah, it feels like if we could get an extra handful (5? 10?) exercises, that would make the track feel more substantial at launch.

[2017-12-23 09:25] sjwarner-bp commented on #4
I'm working on implementing `grains` at the moment! Hopefully we can get a few more exercises in and all of the documentation done :slightly_smiling_face:

[2017-12-24 20:58] budmc29 commented on #4
I tried to get involved with Bash a while ago but looked like when there were decisions to be made things were not moving forward.

It would be nice to have someone set the direction and start working towards that, for example if you see https://github.com/exercism/bash/issues/88 is still opened and nothing was decided.

@kytrinyx what are your thoughts on this?

[2017-12-25 17:36] kytrinyx commented on #4
@budmc29 I need people to take charge and make decisions—preferably 3 people together.

I am not the right person to set the direction, since I am not conversant in Bash.

With respect to decision making, I find that it helps to separate the _debate_ phase from the _decision_ phase. This tends to make it easier to dig into and identify the questions that are actually being discussed and the trade-

[2017-12-26 10:36] sjwarner-bp commented on #4
@budmc29 Looking over the state of #88, I think that a decision has been made (everyone seems to be in agreement) but it hasn't been properly actioned yet. I think that the only issue moving forwards is actioning it. How would you suggest us 'completing' this particular objective - it seems to be a bit of a blocker. Is this to simply document the decision, or is there more code that needs reworkin

[2017-12-26 10:59] sjwarner-bp opened #103 "Topics and difficulty"
As per issues #62 - #74, a list of topics need to be added to `config.json` for each exercise.

Looking over `config.json`, it seems that most exercises have a minimum of 2 topics listed. Should these open issues now be closed, or are they left open for any particular reason? I think that these have all been resolved and would like to close them.

@Smarticles101 would you agree? I like to minimise

[2017-12-26 11:16] sjwarner-bp opened #104 "Run exercise tests through Travis"
As mentioned in #4, for each pull request, a run through all exercise tests would help maintainers quickly identify if the submission causes the tests to fail.

~Travis is currently used to lint submissions.~ <- incorrect! configlet lint is pulled in, but #116 talks about code linting.

[2017-12-26 11:17] sjwarner-bp commented on #104
I personally have little experience in Travis, but am more than happy to look in to this if no-one else has experience - let me know :+1:

[2017-12-26 22:57] budmc29 commented on #4
@sjwarner-bp you are right, but I don't know either how are we supposed to move it forward (it applies to pretty much every decision or open PR).

As @kytrinyx suggested we need 3 maintainers for the track.
There are currently 3 entries is the maintainers.json files, yourself, @adelcambre and @kotp.

I know for sure you are active and seems that you have time to participate in the track (correct m

[2017-12-27 02:51] Smarticles101 commented on #104
I've got some experience with Travis. I might be able to work on this if I have time.

[2017-12-27 03:06] Smarticles101 commented on #4
@budmc29 I'm actually in the maintainer team for bash, I just haven't added myself to the maintainers.json file lol.

Currently I have a bit of spare availability, but as of recent I'm not available a lot. I try to look at pull requests when I can although it can take a while for me to review them after they're made.

There are actually 5 maintainers on the team... @adelcambre, @kotp, @kenden, mys

[2017-12-27 03:12] Smarticles101 commented on #88
When creating example exercises, should we allow use of extra commands that are not necessarily a part of bash? Of course, the student should ultimately be able to solve an exercise however they want, but some exercises become a lot more difficult without extra commands. i.e. `gigasecond`s usage of the `date` command

[2017-12-27 08:44] sjwarner-bp commented on #104
Sounds good to me @Smarticles101

[2017-12-27 09:04] sjwarner-bp commented on #88
I think we don't necessarily need to enforce POSIX compliance, as exercism is a learning tool and this might seem to be too complex (or just a bit excessive) for new users.

Please correct me if I am mistaken, but just because we don't enforce POSIX compliance doesn't mean that users cannot submit this kind of solution? In this case, we could add a small blurb about POSIX at the end of READMEs as

[2017-12-27 19:53] kytrinyx commented on #4
@budmc29 I've added you to the team as well.

I chatted with @adelcambre recently, and he's had other things on his mind and in his life ✨ 🌻 ✨

[2017-12-27 20:01] sjwarner-bp commented on #103
I have just seen in #61 that Katrina has added some topics to each exercise, but would like someone more conversant in bash to review and amend.

I'll pick this up - this should de-clutter the issues a fair bit, allowing us to pick up some more discussion and move forward with launch plans! 🎉

[2017-12-28 13:11] sjwarner-bp opened #109 "Core exercises"
Looking through `config.json`, I have noticed we have few core exercises, but all exercises have an `unlocked_by`. I believe all 'optional' exercises need to be unlocked by core exercises (that's how it works on the Java track).

@exercism/bash Let me know if there is a reason we wouldn't have this policy, otherwise I'll adopt it and work on a fix.

[2017-12-28 21:08] kotp commented on #109
There definitely should be some basis of "introductory" and then the unlocked exercises from there.... I think this is a good adoption.

[2017-12-28 21:10] sjwarner-bp commented on #109
I am glad you agree @kotp - do you have any suggestions for which exercises should be "core"? I am going to be checking / amending the `config.json` as part of #103, and will be happy to tack this on afterwards 🙂

[2017-12-29 15:48] kotp commented on #109
Currently, it looks like:
* `hello-world`
* `leap`
* `error-handling`
* `pangram`

Are the current "core" exercises.

[2017-12-29 16:00] kotp commented on #103
As of this moment, it appears that:

* `hello-world`
* `leap`
* `error-handling`
* `pangram`

are marked as "core", which should indicate that it should unlock certain exercises.

For reference here:

* `gigasecond` unlocked by ``
* `bob` unlocked by ``
* `acronym` unlocked by ``
* `raindrops` unlocked by `leap`
* `difference-of-squares` unlocked by `leap`
* `armstrong-numbers` unlocked by ``
* `a

[2017-12-29 17:44] sjwarner-bp commented on #109
This is good to know - I'd suggest adding a couple more in, maybe a cipher based exercise and some arithmetic exercises. I think that:

* two-fer
* hamming
* armstrong-numbers
* atbash-cipher

are all good candidates to be added as core exercises. What does everyone else think @exercism/bash ?

[2017-12-29 17:46] sjwarner-bp commented on #103
That's great @kotp - thanks for doing that 🙂

I think we are a bit too reliant on certain exercises. I've added a couple of suggestions in #109 which should diversify the track a little.

[2017-12-29 18:23] sjwarner-bp opened #111 "Invalid UUIDs in config.json"
Looking over `config.json`, it seems like a couple of the UUIDs are invalid. This is mentioned in [configlet issue 113](https://github.com/exercism/configlet/issues/113), as older versions of configlet used an invalid UUID library.

`triangle` and `atbash-cipher` seem to be the only two invalid UUIDs.

[2017-12-29 21:13] sjwarner-bp opened #114 "Track policies (with a view to create POLICIES.md)"
It would be most useful to have a succinct list of the current track policies, to allow future contributors (and reviewers) to facilitate the most desirable contributions.

This would also be a great reference tool, and would be a useful part of a template for PRs.

Before this PR, I'd like a discussion to take place regarding current policies (older members of @exercism/bash may have a better ide

[2017-12-29 21:17] sjwarner-bp commented on #114
It seems like a good starting point would be "Plain Bash over POSIX compliance", as decided in #88.

[2017-12-29 21:41] #111 closed

[2017-12-29 22:13] sjwarner-bp opened #116 "Bash linting"
I've noticed that there isn't linting as part of the track yet. In my experience contributing to the Python track I see they have implemented linting, and it allows a greater track consistency.

I'd be interested in hearing other's thoughts around linting of code (and if anyone here has any particular favourites when it comes to linters for Bash).

A cursory glance points me towards [shellcheck](h

[2017-12-29 22:21] sjwarner-bp commented on #114
Another could be to formally record an onboarding process / document how we will ensure that onboarding is as easy as possible.

The Java track (where I have most experience) do this by having a number of good-first-patch issues open at any one time.

[2017-12-29 22:52] sjwarner-bp opened #119 "Where to keep HINTS.md"
In [`hello-world`](https://github.com/exercism/bash/tree/master/exercises/hello-world) the `HINTS.md` file is kept at the top-level of the `hello-world` directory, but in [`gigasecond`](https://github.com/exercism/bash/tree/master/exercises/gigasecond) the `HINTS.md` file is kept in a `.meta` folder inside of the `gigasecond` exercise directory.

We should decide the best place to keep these, and

[2017-12-29 23:01] sjwarner-bp commented on #114
Further, documenting the decision to come out of #87 would be beneficial to future contributors.

[2017-12-30 16:27] budmc29 commented on #4
@Smarticles101 sorry about that :D.

@kytrinyx thank you, glad to be part of the team.

I'm don't have much free time these days with the holidays but I'll jump in and help with what I can when I get back to work.

@sjwarner-bp thank you for all the hard work, you're doing a great job on moving things forward and taking action, you motivated me to get back into this track. Keep up the good work :c

[2017-12-30 16:34] kotp commented on #88
I like the POSIX stretch goal idea.

[2017-12-30 16:43] budmc29 commented on #119
I'd go with keeping HINTS.md in top-level.
There are only a few exercises that have the need for that file (same goes for other tracks), and I don't see any downsides to keep it simple.

[2017-12-30 17:24] budmc29 commented on #116
That looks good and definitely something that will help, I tested it with a sample script and the suggestions were good.

One downside might be with Bats support, as per: https://github.com/koalaman/shellcheck/issues/417, which is not yet merged.

[2017-12-30 17:25] sjwarner-bp commented on #119
I think that keeping it simple sounds good. I'll open a PR to fix this, and another to record this decision.

[2017-12-30 17:36] sjwarner-bp commented on #116
That's a great point - I didn't see this before.

If we were set on using shellcheck as a linter, we could omit testing the bats files. Equally, it seems as though there is a good PR attached to the issue, so hopefully it may be merged in the future.

Conversely, I have no particular attachment to shellcheck, and as such am happy to take suggestions for any other linters 🙂

[2017-12-30 20:08] #119 closed

[2017-12-30 23:29] budmc29 commented on #88
Looks like we have a decision and we can act on it :D.

- Don't enforce POSIX compliance for our internal code, or code submitted as the solution and we allow users to use any utilities as long as the test passes on their system.
- Have POSIX compliance as a stretch goal

For the stretch goal that could be a good start for a discussion when users submit their solutions.

[2017-12-30 23:43] #88 closed

[2017-12-30 23:43] budmc29 commented on #114
This can be added: https://github.com/exercism/bash/issues/88#issuecomment-354574633

[2018-01-01 05:26] kotp commented on #116
Linting on the `bats` file is the test file, and the test file gets seen by the user/learner, and therefore should be as correct as can be.

The solutions are submitted by contributors, and it would be nice to conform to conventions, but this has somewhat less exposure to a learner.

[2018-01-02 22:59] budmc29 commented on #116
I can give this a try and see how it goes after https://github.com/exercism/bash/issues/104 is completed, since it's dependent on that.

[2018-01-02 23:00] budmc29 commented on #116
I can give this a try and see how it goes after https://github.com/exercism/bash/issues/104 is completed, since it's dependent on that.

[2018-01-02 23:19] budmc29 commented on #87
@sjwarner-bp what is your opinion on this?

[2018-01-03 08:20] sjwarner-bp commented on #87
I think that this could be a good idea - but maybe only for the first few exercises?

On the Java track, they have chosen to put skeleton files in for all exercises under a '4' difficulty. I don't think this would work for us, because most of our exercises are below 4 (revamp and re-estimation of difficulty to come now the pending exercise PRs have been merged)!

I'd suggest maybe adding them just

[2018-01-03 14:51] ltrainpr commented on #75
Looking to learn quite a bit more about bash shell scripting in 2018.  Poked at Bash track yesterday.  Hello World exercise was easy enough.  Currently stuck on first test of gigasecond exercise as it requires specific time `[ "$output" == 'Thu Jan 1 01:46:40 UTC 2043' ]` even though what's being passed in is `'2011-04-25Z'`.  Is this on purpose?

[2018-01-03 15:38] rpalo commented on #75
@ltrainpr I just double-checked to make sure nothing was funky.  It looks like, since you're adding seconds to things, you need to pick *some* time for the initial date, even if none is provided.  So your script should default to midnight of the date provided if none is given.  When you default the time to midnight, that first test ends up at the correct time of 1:46:40.  It's possible that this s

[2018-01-03 23:43] budmc29 commented on #109
I agree for `hamming`, `armstrong-numbers`, `atbash-cipher` to be added.

Maybe we should add `bob` as well, since it's a fun but challenging exercise in bash that involves RegEx.

We should focus on 7-8 core exercises to match a similar ration for core to non-core exercises like othertracks, and then focus on adding more exercises to the track.

[2018-01-04 08:26] sjwarner-bp opened #129 "Improve ABOUT.md"
Currently, our [About the Bash Track](http://exercism.io/languages/bash/about) page is looking pretty empty in comparison to other tracks.

At the moment, it is just a quote and reference. For starters, I think the formatting could be improved, but overall the whole content could be improved. Paragraphs could include information about the history of Bash, where Bash is used (e.g. which systems), a

[2018-01-04 22:13] budmc29 commented on #104
@Smarticles101 any updates on this? If you are too busy I can give it a try this weekend.

[2018-01-05 15:51] kotp opened #135 "Git workflow advice for contributing.md"
#123 brought out the start of a discussion about `--force-with-lease` option on `git push`.  We should decide if this is the place for that advice, or if it should be removed, allowing for the contributor to decide how to manage their branch, or if it should be suggested as a practice that is good for more than just the Bash team.

Specifically [this comment in review](https://github.com/exercism/

[2018-01-05 15:54] sjwarner-bp commented on #135
While we *have* to advise on certain workflows (i.e. toolsets and processes), I feel like micromanaging smaller details could confuse less experienced users.

Personally, I think the reasonable thing would be to restrict advice/management of user workflows to a minimum.

[2018-01-05 16:15] kotp commented on #135
Acknowledging the need to advise on tooling, `git` has been advised.  Advising the use of `--force-with-lease` or even `--force` is something that can be advised when it is necessary, so that we can be more likely to mention any complications that can result from that advice.  Either use is not a "simple" answer to a problem, as it definitely depends on the situation.

[2018-01-06 13:17] ltrainpr commented on #75
Thank you for your help @rpalo.  I was able to solve the problem with the additional info (setting default time to midnight) you provided.  The only other obstacle I faced was syntax.  See [this](https://stackoverflow.com/questions/48114627/why-am-i-getting-date-illegal-time-format) stack overflow question regarding my syntax problem.

My suggestion is to include in the `README` that the default t

[2018-01-06 13:57] sjwarner-bp opened #136 "Add test versions in order to keep exercises up to date"
I think it would be worthwhile putting a `version` file in each exercise, indicating which version of the `problem-specifications` canonical data it is based off. This would be useful as the problem specs are updated fairly frequently with new test cases. We'd then be able to keep our exercises up to date!

Coming from the Java track myself, we stick a `version` file into each exercise, and then o

[2018-01-06 19:50] sjwarner-bp opened #137 "Travis CI master build"
While PR branches are building, it looks like master hasn't been building for the last 5 months.

I think I know why, and where to enable that - I've just opened this as a placeholder, and a suitable place to raise any problems if they do come up. If there aren't problems, I'll close it.

[2018-01-06 19:54] sjwarner-bp commented on #137
I think I've enabled master to build again. This should automatically be triggered next time a PR is merged - once there is a PR ready to merge, we will find out 🙂

[2018-01-06 22:49] kotp commented on #137
Any notes to show what you did for this?

[2018-01-07 10:25] sjwarner-bp opened #138 "Exercise README insert"
In #130 and #131, changes to READMEs have been merged in that alter the test command from `bats whatever_test.sh` to a test command that includes the exercise slug (as it will appear in each exercise directory).

However, if this is the convention others have chosen to go with, this now means that generating READMEs using configlet will not work properly, as configlet will pull the [insert](https:

[2018-01-07 10:26] sjwarner-bp commented on #138
I'm happy to have a look into changing this for `.Spec.SnakeCaseName` as that would be in keeping for the current convention that seems to have been merged in #130 and #131.

[2018-01-07 10:33] sjwarner-bp commented on #137
[This comment here](https://github.com/exercism/discussions/issues/174#issuecomment-318855073) seems to explain why master is not building - notice "Build branch updates" is turned off.

All I have done is re-enabled "Build branch updates". In the event that this causes more problems than it solves, we can swap it back 🙂

[2018-01-07 10:34] sjwarner-bp commented on #137
N.B. it looks like master is building again - it passed on last merge [here](https://travis-ci.org/exercism/bash/builds/325924294)

[2018-01-07 10:35] #137 closed

[2018-01-07 14:33] budmc29 commented on #138
This sounds good to me, if you have time give it a try and let's see how it goes.

That would be awesome. All the tools are created language agnostic and some conventions are arbitrary, so we need to translate everything we implement to `bash` conventions.

I try to follow this style guide: https://google.github.io/styleguide/shell.xml, and while is not 100% agreed on by every bash developer I thi

[2018-01-07 14:34] sjwarner-bp commented on #138
This has been done in #139

[2018-01-07 21:11] #138 closed

[2018-01-09 20:54] kytrinyx commented on #75
We can have a `hints.md` file for the exercise that includes this information, then regenerate the README using the `configlet` binary.

See https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md for details

[2018-01-09 23:03] budmc29 opened #150 "Exercise test structure"
My question here: https://github.com/exercism/problem-specifications/issues/1070#issuecomment-355414817 was to know if we need to enforce the rules of the problem-specifications in our tests.

Requiring the `property` does not look that it's something that is critical and should be enforced, my reasoning being that everyone should be free to structure their code as their wish, some people will do

[2018-01-10 08:33] sjwarner-bp commented on #104
Fixed via #148 (Thanks! :slightly_smiling_face: )

[2018-01-10 08:33] #104 closed

[2018-01-10 14:48] sjwarner-bp commented on #150
This is a good question.

I think that it is for the team to enforce as we feel appropriate. I know on the Java track we deviate from the canonical data slightly as and when it suits the exercise. The biggest thing we have to consider is how tests will be run. Once we enforce methods in our tests then everyone will have to program using them.

For some exercises, this may be beneficial, whereas fo

[2018-01-10 21:40] budmc29 commented on #150
Can you list the benefits you can think of?
Do you see any downside?

[2018-01-11 09:37] sjwarner-bp commented on #150
Benefits:
* Breaking code down into functions is some new syntax for beginners to learn
* Could encourage reuse of code where users may not think/know about functions
* Allows us to mirror problem-specifications more closely
* Would allow later exercises (e.g. ciphers with encrypt/decrypt functions) that require multiple functions in a single file to be more consistent with other exercises if appl

[2018-01-11 10:03] budmc29 commented on #150
@kotp @Smarticles101 @kenden what do you guys think?

[2018-01-11 13:54] kenden commented on #150
I don't have a strong opinion on this but
- Users might confuse functions and arguments. Ex in:
`run ./armstrong_numbers.sh is_armstrong 5`
  is `is_armstrong` a function or a argument to the script?
- It's a bit weird to always call a script with the same argument, it could be default then.
  Ex: `run ./armstrong_numbers.sh 5` might be enough.
  If the user has a function in the code, nice, else

[2018-01-17 10:17] budmc29 commented on #109
Proposed core exercises:

1 `hello-world`
2 `leap`
3 `error-handling`
4 `pangram`
5 `hamming`
6 `armstrong-numbers`
7 `atbash-cipher`
8 `bob`

What do you think about these?

We can of course update them in the future, but at least we have a place to start.

[2018-01-17 10:17] sjwarner-bp commented on #109
Agreed. I'll update my PR (apologies for being slow with that - hectic week!)

[2018-01-18 17:30] sjwarner-bp commented on #109
Hi @budmc29. I am just looking over these, and I've realised that

`error-handling` cannot be both core AND `core: false`, `unlocked_by: none` as agreed in #128.

Currently, the core exercises stand as:

`grains`
`hello-world`
`reverse-string`
`armstrong-numbers`
`hamming`
`pangram`
`luhn`

This is a fairly good list, however I agree that some of the above should be added. I suggest adding `bob` a

[2018-01-23 09:38] #61 closed

[2018-01-23 09:40] budmc29 commented on #109
Closed by #128

[2018-01-23 09:40] #109 closed

[2018-01-23 11:33] sjwarner-bp commented on #62
Closed via #128

[2018-01-23 11:33] #62 closed

[2018-01-23 11:33] sjwarner-bp commented on #63
Closed via #128

[2018-01-23 11:33] #63 closed

[2018-01-23 11:34] sjwarner-bp commented on #64
Closed via #128

[2018-01-23 11:34] #64 closed

[2018-01-23 11:34] sjwarner-bp commented on #65
Closed via #128

[2018-01-23 11:34] #65 closed

[2018-01-23 11:34] sjwarner-bp commented on #66
Closed via #128

[2018-01-23 11:34] #66 closed

[2018-01-23 11:34] sjwarner-bp commented on #67
Closed via #128

[2018-01-23 11:34] #67 closed

[2018-01-23 11:34] sjwarner-bp commented on #68
Closed via #128

[2018-01-23 11:34] #68 closed

[2018-01-23 11:34] sjwarner-bp commented on #69
Closed via #128

[2018-01-23 11:34] #69 closed

[2018-01-23 11:34] sjwarner-bp commented on #70
Closed via #128

[2018-01-23 11:34] #70 closed

[2018-01-23 11:35] sjwarner-bp commented on #71
Closed via #128

[2018-01-23 11:35] #71 closed

[2018-01-23 11:35] sjwarner-bp commented on #72
Closed via #128

[2018-01-23 11:35] #72 closed

[2018-01-23 11:35] sjwarner-bp commented on #73
Closed via #128

[2018-01-23 11:35] #73 closed

[2018-01-23 11:35] sjwarner-bp commented on #74
Closed via #128

[2018-01-23 11:35] #74 closed

[2018-01-23 11:35] sjwarner-bp commented on #75
Closed via #128

[2018-01-23 11:35] #75 closed

[2018-01-23 11:35] sjwarner-bp commented on #103
Closed via #128

[2018-01-23 11:35] #103 closed

[2018-01-23 23:01] budmc29 commented on #4
#### Getting Bash in Exercism V2

Decisions:
  - [x] Programming language variants
  - [x] Language name and track ID
  - [x] Installation and dependencies
  - [x] Testing framework

Landing Page - Prepare the track:
  - [ ] Language track icon (requested but still waiting for response)
  - [ ] Introductory copy
  - [ ] User-facing documentation
  - [x] Maintainer bios

[2018-01-24 08:04] sjwarner-bp commented on #4
@budmc29 - do we not have a language track icon already? Please correct me if I am mistaken, but this point references the image seen [here](http://exercism.io/languages/bash/launch)?

Introductory copy definitely needs some improvement, I'll set about doing that in my free time.

User-facing documentation has the bare bones there pretty much I think - could do with a little bit more detail in pla

[2018-01-24 08:06] sjwarner-bp commented on #4
Also, a little while ago @budmc29 was making changes to tests and example exercises to improve consistency - are there many more exercises that are inconsistent?

[2018-01-24 16:35] budmc29 commented on #4
That's the official icon, but we need a fancy icon to match the style of the new website, see: https://s3-eu-west-1.amazonaws.com/exercism-static/tracks/coffeescript-bordered-turquoise.png

I have no idea, but I was planing to add the .meta folder to all of them, I'll have a look then.

[2018-01-25 08:07] sjwarner-bp commented on #4
Ah, that makes more sense - thanks :+1:

[2018-01-25 13:27] kotp commented on #4
exercism/website-icons#3

[2018-01-26 10:07] budmc29 commented on #4
That's good.

The only things left to make the track ready are:

  - [ ] Introductory copy
  - [ ] User-facing documentation

[2018-01-26 10:08] budmc29 commented on #4
That's good.

The only things left to make the track ready are:

  - [ ] Introductory copy
  - [ ] User-facing documentation

And of course it would be nice to get more exercises, but that can be sorted later.

[2018-01-26 10:52] sjwarner-bp commented on #4
I think I've got `scrabble-score` in progress...

[2018-01-29 08:05] sjwarner-bp opened #152 "Enhance introductory copy"
As part of #4, the introductory copy should be improved.

This should give a more comprehensive overview of the language than there currently is.

[2018-01-29 13:49] budmc29 commented on #150
Looks like we have an agreement on this.

We will not use functiosn for tests unless the problems are complex or require them (ex: https://github.com/exercism/bash/blob/master/exercises/triangle/triangle_test.sh)

I agree with @sjwarner-bp  points:

 and we can address those in: https://github.com/exercism/bash/issues/87.

[2018-01-29 13:49] #150 closed

[2018-01-29 13:51] budmc29 commented on #114
Test structure can be added: #150

[2018-01-29 13:54] budmc29 commented on #87
Looks like we have reached an agreement and we are all in favor of adding a skeleton for the exercises.

@sjwarner-bp

That's a very good idea, combining the both worlds. Getting the users familiar with a good script structure and they can decide to keep it and use it for the next exercises or just delete it and use whatever they like.

[2018-01-29 13:54] #87 closed

[2018-01-29 13:56] sjwarner-bp commented on #87
@budmc29 which approach do you think we should go with then?

I think either of 'core' exercises or 'exercises under a 4 difficulty' could work. What do you prefer?

[2018-01-29 15:16] budmc29 commented on #87
All the core exercises would be too much, from what I see most users finish the first few exercises, so maybe the first 4-5.

I have a bunch of similar PR to do tonight, so I'll include this as well.

[2018-01-29 16:09] sjwarner-bp opened #156 "Add pull request template"
This should reduce the number of times we have to produce feedback to users over trivial matters, and will encourage users to look at the POLICIES that are being put in place as of #154

[2018-01-29 16:19] sjwarner-bp commented on #87
Which exercises should we put these on?

I've just thought of another thing related to this.

On the Java track, we had a few confused users ask where the skeleton files 'disappear to' on later exercises (i.e. they get confused when they are no longer supplied these files).

Might it be worth adding a `hints.md` to explain to a user how to make their own files in the exercises immediately after th

[2018-01-29 16:24] budmc29 commented on #87
In that case we could either create a template for all the exercises, and the users that do not want to use it will delete the content and keep the file, or just create the hello_world.sh template and add a notice in there that it will not be supplied for the other exercises but they can copy it over.

[2018-01-29 16:27] sjwarner-bp commented on #87
I prefer this approach - it makes more sense in my opinion. We can add the notice in a `.meta/hints.md` which will automatically get pulled in when the README is regenerated using `configlet`.

[2018-01-31 14:31] #114 closed

[2018-02-01 22:21] #135 closed

[2018-02-06 10:19] budmc29 commented on #156
Fixed by #160

[2018-02-06 10:19] #156 closed

[2018-02-13 21:09] sjwarner-bp commented on #116
Any progress on this one @budmc29 ? 🙂

[2018-02-14 08:59] #152 closed

[2018-02-14 09:00] budmc29 commented on #116
Forgot about this, I'll see what I can do in the following days.

[2018-02-23 12:23] budmc29 commented on #129
Looks fine for me, and I agree that we can close it.

[2018-02-23 12:29] #129 closed

[2018-03-14 10:16] nywilken opened #164 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-03-22 09:32] budmc29 commented on #164
Thank you, we'll take care of that.

[2018-03-27 00:52] nywilken commented on #164
@budmc29 thank you.

[2018-04-06 09:25] #164 closed

[2018-05-23 12:21] ninrod commented on #9
my hello_world.sh is not passing. scripts being executable or not does not make a difference. here's my implementation:

[code]

running bats hello_world_test.sh gives this:

[code]

What is happening?

[2018-05-23 12:27] sjwarner-bp commented on #9
Hi @ninrod - if you double-check the test:

[code]

Your output isn't *quite* correct... `Hello, world!` isn't quite the same as `Hello, World!`

Does that make sense? :slightly_smiling_face:

For future reference, there is a [Gitter room](https://gitter.im/exercism/bash) for these kind of questions too :slightly_smiling_face:

[2018-05-23 12:28] ninrod commented on #9
Jesus \o/. Good catch! thanks!
Well, I have to say that I would expect bats to give me at least a diff highlighting the differences. Am I right?

[2018-05-23 14:19] kenden commented on #9
@ninrod I believe this is documented in this feature request for bats:
https://github.com/bats-core/bats-core/issues/77

[2018-05-23 15:28] ninrod commented on #9
excelent. but then, we could ask the user to install said assertion library for more ergomics, right?

[2018-05-23 15:29] sjwarner-bp commented on #9
Might be worth seeing what the response is on the `bats-core` issue before we action anything over here (last comment was only 3 days ago!)

[2018-06-02 22:57] kytrinyx opened #166 "Where are the Bash communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-12 02:38] kytrinyx opened #168 "Ensure Bash track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/bash
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
- [x] T

[2018-06-12 07:10] sjwarner-bp commented on #168
This all makes sense to me - I think we are already compliant with a handful of the points provided here. I'll go through it all a little closer later on and double check :slightly_smiling_face:

[2018-06-12 18:06] jackhughesweb commented on #168
`config.json` currently has `active` set to false - I don't think this is currently a major issue (there is a v2 page for this track), but I'm not sure whether this is intentional or not?  🙂

https://github.com/exercism/bash/blob/5064f479a952e8c3eabc5bd3b185adf62a876904/config.json#L2

[2018-06-12 18:09] sjwarner-bp commented on #168
Hi @jackhughesweb - thanks for the comment!

I think that is deliberate, because currently the bash track isn't actually "launched". If you check out [the languages page](http://exercism.io/languages) it is listed under 'upcoming'.

We've got an issue #4 open to track our launch plans. We're close, but work has slowed a bit since January.

[2018-06-13 20:34] sjwarner-bp commented on #168
Hey @kytrinyx - just to double check a couple of these points (I think we're close to being all good over here):

- How often does the v2 website get regenerated? I added a blurb yesterday, so just waiting for it to show up
- The current 'About' section contains a quote. I want to check that quotes aren't supported, as they aren't mentioned in the formatting section. I'm more than happy to strip i

[2018-06-14 03:47] kytrinyx commented on #168
Under normal circumstances I think the new code would get pulled in immediately (we have webhooks listening for changes on master of the tracks). I will check with the others what's up with this.

Yepp, that's correct.

[2018-06-19 12:33] hgvanpariya commented on #166
Shell script is mainly used by semiconductor industries to process Verilog, System Verilog, VHDL file.

[2018-06-19 20:50] kytrinyx commented on #166
Thanks, @hgvanpariya. My impression is that there's no particular communities focused on Bash, but that rather it's used in a lot of places, and there are maybe some smaller, disparate groups of people who use it and care about it.

[2018-06-19 21:08] roger-fang commented on #166
Mainly developers using Linux and MacOS (UNIX) use Bash (by default). Microsoft now includes Bash in Windows 10 Anniversary Update.

[2018-06-20 16:43] sambhav2612 commented on #168
I guess the `About` Section does follow the said formatting guidelines. Having said that the checklist is complete and the issue can be closed.

[2018-06-20 16:54] budmc29 commented on #166
I don't know if there are bash communities, but most of the times people discuss about bash in groups made for that purpose, maybe something like "Unix one liners", or places like code golf.

Usually bash enthusiasts are Gnu Linux / Mac enthusiasts that love to work with the CLI and it's tools.

[2018-06-24 13:01] kytrinyx commented on #168
@sambhav2612 Thanks!

[2018-06-29 06:15] rpdelaney opened #171 "Don't (prominently) link to tldp.org for bash advice"
tldp.org's shell scripting pages have very high Google page rank. They're detailed, extensive, and easy to read, and much of the information in there is useful. But the examples they use are very often riddled with code that runs between smelly and bug-prone to outright dead wrong and _dangerous_. An advanced bash scripter could maybe read through tldp and filter out the bad stuff, but pointing ne

[2018-06-29 08:30] budmc29 commented on #171
Sounds good to me, and feel free to open a PR.
What do you think?
@kotp, @sjwarner-bp, @exercism/bash

[2018-06-29 17:29] rpdelaney commented on #171
PR submitted in #172 . Thanks!

[2018-07-02 09:12] budmc29 commented on #171
Fixed by #172

[2018-07-02 09:12] #171 closed

[2018-07-14 04:07] guygastineau commented on #166
This is a great issue.  I think a lot of the bash and sh community is tied (rather loosely) through forums like stack exchange where Linux users often search for the commands to do what they want in bash.

I will try to post on some of those forums to direct people to exercise for advancing their bash skills.

It also seems like @NobbZ might know a good number of bashers and *nix she'll enthusiast

[2018-07-14 15:36] NobbZ commented on #166
As I have been summoned ;)

I do know a lot of people that use *nix on a daily base, for personal use as well as for business, but about no-one actually scripts in bash.

All prefer to use either python or ruby for one-off-scripts.

Also all of them are using zsh as a daily driver as the available tab-completion scripts are better than their bash-versions most of the time.

And, a very big pitty i

[2018-07-14 15:41] guygastineau commented on #166
@NobbZ
Thank you for providing this information.
It is useful to know that some people Don't want to join exercism and that many *nix users don't write bash scripts anymore.

[2018-07-14 15:48] NobbZ commented on #166
SEs superuser site and similar do prove that there are actually enough users still doing plain bash scripting.

But people I know, do not use it for scripting.

Of course, sometimes we write bash scripts as well, but those are limited to very basic tasks, as installing the agent of our config management tool and setting up hostname and other facts that the agent needs to identify the role of the m

[2018-07-16 12:34] budmc29 commented on #168
@kytrinyx can you please let us know what else do we need in order to get the Bash track into the new Exercism.io platform?

[2018-07-16 17:30] kytrinyx commented on #168
Why is that?

I'm pretty sure all you need to do is update the `active` key in `config.json` to say `true`.

[2018-07-16 20:35] budmc29 commented on #168
Ah, okay, than that's great, I assumed we needed more.

I'll create a PR with that, thank you.

[2018-07-16 20:53] budmc29 commented on #4
Resolved in #168

[2018-07-16 20:53] #4 closed

[2018-07-18 07:44] #168 closed

[2018-07-18 18:11] guygastineau opened #175 "Bash track still isn't active on exercism.io"
After PR #174 I hoped to find bash listed as active on exercism.io.
As of now it is not present and the search bar will not find it on the site.

[2018-07-18 18:38] guygastineau opened #176 "Problem in Armstrong numbers test"
### Hi all, redoing the armstrong-numbers problem I realized two issues:
- unlike most of the other tests the `run` statement doesn't include the command bash.  This requires that the file be made executable.  This isn't a huge deal but I'm sure it confuses a lot of students and keeps them from learning from the exercise.

#### The really big problem:
- most but not all of the tests use this forma

[2018-07-18 19:36] guygastineau commented on #1
Is this resolved now or is there more to do?

If there is, feel free to point me toward the work.

[2018-07-18 19:37] guygastineau commented on #136
@sjwarner-bp Did #140 take care of this? Should this issue be closed?

[2018-07-18 20:44] guygastineau opened #178 "Bob_test.sh tests need fixing"
- The shouting with umlauts test is broken.
- Also, they aren't umlauts.
- Also, other tracks don't seem to have these two tests.
### Requesting permission to remove these two tests in a PR

[2018-07-18 20:49] guygastineau commented on #178
Additionally, the forceful question test expects `"Whoa, chill out!"` when it should be `"Calm down, I know what I'm doing!"`

[2018-07-19 06:22] kotp commented on #136
I believe it is only a partial step to completing this.

[2018-07-19 07:22] budmc29 commented on #175
@kytrinyx are we missing something, or we need to wait for the next deploy?
Thank you.

[2018-07-19 07:29] budmc29 commented on #178
Can you explain your first two points? We need more details.

[2018-07-19 07:39] sjwarner-bp commented on #136
#140 was just to add a script that will allow us to check versions of the tests against the canonical data. For us to be able to use this script, we need a `.meta/version` to be added to each exercise. The easiest way to do this will be to bring all tests in an exercise up to date and then label it with that particular version number.

[2018-07-19 07:48] sjwarner-bp commented on #178
I think that this has been discussed in the problem-specifications track to some extent? There were a couple of issues on certain platforms around the useage of non-ascii characters: https://github.com/exercism/problem-specifications/issues/441

This issue boils down to the fact that this test is not up to date. The entire test suite should be brought up to date with the canonical data (over here

[2018-07-19 07:48] sjwarner-bp commented on #175
I think it will be a case of waiting for a deploy - sometimes these changes take a little while to get to the live site :slightly_smiling_face:

I'm not sure on the schedule for that though. It took a day or so for the track bios to appear after I'd added it.

[2018-07-19 08:02] budmc29 commented on #175
Good to know.

[2018-07-19 08:04] budmc29 commented on #175
You can access the track in the meantime with: https://exercism.io/my/tracks/bash

[2018-07-19 12:02] guygastineau commented on #175
@budmc29. Thanks.  That's what I've been doing.

[2018-07-19 12:08] guygastineau commented on #178
Thanks guys for your responses. I will update the Bob problem to the most current problem-specifications data.

[2018-07-19 15:53] guygastineau commented on #178
I have fixed bob.sh, I believe but I accidentally merged my branch for #177 into my fork master so making a PR for my fix-bob.sh branch tried to submit my commits found there too.  I'll open the PR for this when my other PR goes through

[2018-07-19 17:08] guygastineau commented on #175
It has been manually activated @iHiD.

[2018-07-19 17:08] #175 closed

[2018-07-19 17:11] guygastineau commented on #166
### UPDATE: the bash track is now active on exercism.io.
- I will be attempting to direct bash users to the site.
- Maybe our track can become the hub for a healthy community or bash users!

[2018-07-19 17:14] guygastineau opened #181 "code comment for `jq` statement canonical_data_check.sh"
https://github.com/exercism/bash/blob/f5c4f9b6acd27c79742ac129f98e9552729b67f9/scripts/canonical_data_check.sh#L85

[2018-07-19 17:17] guygastineau commented on #181
Hey, @sjwarner-bp
- I really appreciate you taking the time to make this script to automate these checks.
  - I was hoping you could find the time to provide an in depth comment on the `jq` on line 85.
  - I have started some turorials on it since it seems very useful for projects like `exercism`
  - But I still am confused about some parts
  - I think it best if all scripts in this repo comment t

[2018-07-19 17:20] guygastineau commented on #181
There is another implementation f `jq` on line 64
[here](https://github.com/exercism/bash/blob/f5c4f9b6acd27c79742ac129f98e9552729b67f9/scripts/canonical_data_check.sh#L64)

[2018-07-19 17:35] hgvanpariya commented on #166
@guygastineau : it seems some bug, when I click on the `bash` it is throwing error.

[2018-07-19 17:35] hgvanpariya commented on #166
<img width="1239" alt="screen shot 2018-07-19 at 11 04 14 pm" src="https://user-images.githubusercontent.com/1458819/42959989-3a266936-8ba8-11e8-83c8-c98d5fe9148c.png">

[2018-07-19 17:39] guygastineau commented on #166
@hgvanpariya interesting. It isn't doing that for me, but is does happen if I click on the mentor but.

- have you already joined the track?
- can you access it by entering `exercism.io/my/tracks/bash` in the URL?

[2018-07-19 17:44] hgvanpariya commented on #166
@guygastineau : while accessing this URL (https://exercism.io/tracks/bash) it shows the error page
I also tried in Incognito mode also.
(Others can also check, if they are not getting error then it might be specific to me)

[2018-07-19 17:48] guygastineau commented on #166
@hgvanpariya that is unfortunate. Would you mind making a new issue on exercism/exercism.io?

I'm afraid this isn't the right place to continue discussing this problem.

[2018-07-19 17:52] hgvanpariya opened #182 "Unable to access bash track on the exercism.io"
On exercism.io, when I go to [tracks](https://exercism.io/my/tracks) and click on `bash`, it is redirecting to error page.

<img width="1239" alt="screen shot 2018-07-19 at 11 04 14 pm" src="https://user-images.githubusercontent.com/1458819/42960828-9e1652ba-8baa-11e8-8d54-81567f07dcd3.png">

[2018-07-19 17:54] #182 closed

[2018-07-19 19:30] #176 closed

[2018-07-19 19:32] budmc29 commented on #178
#177 merged.

[2018-07-19 19:34] budmc29 commented on #1
@guygastineau you can actually help answer the questions here, was it easy for you to get everything set up and start contributing to the track?

[2018-07-19 21:23] guygastineau commented on #178
thanks @budmc29

[2018-07-19 22:13] guygastineau commented on #1
Yeah, relatively easy.  This is the first time I have really used github in spite of some encouragement from friends in the past.  Mostly when I am trying to do something to contribute I have reached out here and read the README and Contributing guides for whatever repo I'm working with.

- There isn't a lot of information about CI available but their error messages it gives are usually pretty cle

[2018-07-20 09:31] budmc29 commented on #178
Can you please answer my question about your first two points?
https://github.com/exercism/bash/issues/178#issuecomment-406182010

[2018-07-20 11:59] guygastineau commented on #178
Okay,
- a test can be made either to pass shouting with umlauts or pass calmy speaking with umlauts.
- the characters in that part of the test are not actually umlauts. In German an umlaut operates on vowels by representing a simple dipthong.
- while umlaut basically just means sound change, traditionally it is only used to reference two dots above a letter that can be upper or lower case.
  - the

[2018-07-20 14:57] guygastineau commented on #181
### I think I get it.

- the `jq` code on line 64 makes an array by pulling the slugs out of all the exercises in the track's `config.json` that haven't been depricated.

- the code on line 85 simply queries the version info per test from the cannonical data.

- @sjwarner-bp did I get that right?

[2018-07-20 22:34] guygastineau commented on #178
Opened #184 just now.
I didn't want to open a new PR for it but I managed to get my fork of exercism/bash fubar.
Everything should be able to move forward now.

Also @budmc29 Is everything regarding the unlaut tests clear, now?

[2018-07-21 15:29] budmc29 commented on #178
I don't know enough to argue if those are umlauts or not, but if they cause issues then it's better to remove them since they are not in the canonical data.

[2018-07-21 17:22] guygastineau opened #185 "Generator for tests"
Hi all,
## I'm currently developing a Ruby and ERB based generator to make the test files for our problems based on a template and the data from problem specifications.  I would say I'm in middle alpha stage.
1. Successfully generates tests when everything is in the same directory
2. Successfully generates tests when the template is in another file.
#### Currently I'm ironing out a couple things t

[2018-07-21 18:16] #178 closed

[2018-07-21 18:39] budmc29 commented on #185
I'll ask the first sensible question to ask: Do we need this?

[2018-07-21 19:02] guygastineau commented on #185
@budmc29 I think that is great question.
#### A couple reasons why I think we probably do need it:
1. Running [`canonical_data_check.sh`](https://github.com/guygastineau/bash/blob/master/scripts/canonical_data_check.sh) shows about half or more of our exercises don't have a version file in their `.meta/`.  Many of these are probably out of sync with the problem-specifications repo.
2. Currently th

[2018-07-21 20:09] guygastineau commented on #136
#185 is realated to this as it attempts to streamline updating tests.
- The generator could also possibly make or overwrite the version file in .meta after the test has been generated. What do you guys think?

[2018-07-22 05:02] guygastineau commented on #185
UPDATE:
- I'm having a conversation with @kotp on slack about how much of this can and should be kept in bash only.
- I think a good purpose for this issue now would be to continue discussing the question posed by @budmc29.
  - Essentially, should we implement a generator? (I've given my reasons in support of implementation above.)
  - There's no need to worry now about whether or not it is my rub

[2018-07-22 12:46] budmc29 commented on #185
Thanks for taking the time to propose this @guygastineau, looks well thought out and I understand how this will be able to help us in the future.

From what I can see you are truly excited about this tool, and if you have enough time to work on this, and we can have real applications to our track, I see no issue with adding the tool to the track.

The only requirement for it, that I truly believe

[2018-07-22 16:21] guygastineau commented on #185
Thanks for the response @budmc29.

#### Doing this with a just bash.
- @kotp informed me that the Delphi track did something similarly whereby they took inspiration from the ruby track and implemented a generator framework built entirely in Delphi.
- I assume `jq` commands will be necessary to get the information out of the `canonical-data.json` file.  I am unaware of another way to parse json wit

[2018-07-22 17:44] budmc29 commented on #185
I don't want to cut on your enthusiasm, that's a great thing to have, so let's see what we can do.

You can go two ways about this, write the tool in Ruby, make it work well, and then create PR's with the results and that will help the track. If the tool is good and helps, I will start using it as well since I am a Ruby developer, and I assume others might want to use it, but I don't want to add i

[2018-07-22 17:45] budmc29 commented on #1
I'll close this since looks like it was straightforward enough for new developers to get started, and we have improved our documentation since this was opened.

[2018-07-22 17:45] #1 closed

[2018-07-22 17:48] budmc29 commented on #36
We have sorted our documentation.

[2018-07-22 17:48] #36 closed

[2018-07-22 17:49] budmc29 commented on #166
@kytrinyx do we need to do anything else about this issue?

[2018-07-22 18:13] guygastineau commented on #185
@budmc29 yeah, since it is functional in Ruby right now I thought I might go ahead and PR updated tests in the coming weeks while I work on the bash version.

I'll keep you updated on my progress, and when the bash version starts to get somewhere I will probably put it on a branch in my fork so you all can see/contribute to it's developement.

[2018-07-22 23:01] guygastineau commented on #185
After working on this in bash today I believe that the template functions will be far to involved.
I have been doing it with jq.  Basically, each template implemented will require quite an advanced implementation of jq in order to get everything out of the .json and related correctly for insertion into the test file.

#### It is my opinion that not involving an OOP language that has libraries for

[2018-07-23 18:36] guygastineau commented on #185
#### So I thought you all might be interested in seeing my progress in refactoring the ruby version of a generator.

- I pushed the branch to my fork [here.](https://github.com/guygastineau/bash/tree/test-generator)
- It includes:
  - `bin/generator_test` a wrapper *unfinished but functional*
  - `lib/generator_class.rb` *new directory `lib` for the files that are technically libs*
  - `scripts/te

[2018-07-24 00:32] guygastineau commented on #116
Did #148 take care of this?

[2018-07-24 03:55] guygastineau commented on #185
@budmc29

#### I think I see what you meant in your last comment that others might want to use it.
- I'm understanding:
  - contributors already familiar with Ruby might like to use it.
    - If it's good and simple.
  - It would be inappropriate to add it to the CI *pipeline?*(I'm a total boob at Travis).
    -I agree, it shouldn't be a required component for developement in the track.

- I'm con

[2018-07-24 08:08] budmc29 commented on #116
No, this is a different issue.
I don't have time to work on it anymore, so if you can take over if you want.

[2018-07-24 08:22] budmc29 commented on #185
You can create a PR if you want, but my opinion is that you should first prove the worth of the tool to the track and other maintainers, before trying to integrate it.

I would argue that you should keep the tool on a new repository on your account and point whoever is interested to that, rather than add it on this repo.

After all this talking about this, I'd be happy to see some actual results,

[2018-07-24 13:51] guygastineau commented on #185
Hey @budmc29,

Thanks for the info. Yeah, I figured I shouldn't just PR it to the repo. Thanks for giving me some solutions for showing it you all.

- I will put it isolated in a new repo.

- I will build templates for some out of date tests and PR the results.

- @kotp noticed that I had some trailing whitespace that needs to be gone.

- Also per his suggestion, I will be verifying the earliest v

[2018-07-24 14:18] budmc29 commented on #185
Offtrack

I'm using this for showing me whitespace in vim
[code]

and this will automatically remove whitespace in certain files
[code]

I have tried plugins but found this to be more reliable.

[2018-07-24 15:01] guygastineau commented on #185
I put it up [here](https://github.com/guygastineau/bash-track-test-generator) by itself.
- I will find some solutions that are out of date and PR the results later today or tomorrow.

-------------------------------------------------------------------------------------------------------------------------------------------
#### Cool vim solution.
- I just installed installed [this](https://github.c

[2018-07-24 15:48] guygastineau commented on #185
I PR'd an update to luhn made with my generator #186.

- I forgot to add the skips in the template, so I added them by hand.
- It is trivially easy to add the skips to the template and then comment the first one out though.

[2018-07-24 16:35] guygastineau commented on #185
I will wait for each test update PR to go through  before PRing new updates, but I will go ahaead and make more templates and update tests adding them to the repository that holds the generator.

[2018-07-24 17:34] guygastineau commented on #136
PR #186 is the first test version update done with the generator I'm building.

I should be able to get all our exercises up to date and with `./meta/version` files this week.

[2018-07-26 02:55] guygastineau commented on #185
## Would people be more in favor of this tool being hosted in a separate repo.
- I can make it fetch the most recent canonical-data.json from the bash master repo.
- Then the tests could be generated in the directory for the program and PR'd seperately.
- I might make it fetch the example.sh too so that the program can check to see if the example.sh needs updates to conform to the new test.

####

[2018-07-26 05:18] kotp commented on #185
Host it here, I would say.  It makes it visible.  If it is later ported, in whatever fashion, it is here.  It address the track, and is a tool that may not be mandatory, but is useful, so if accepted, it belongs here.

At least that is my vote.

[2018-07-26 08:16] budmc29 commented on #185
We can add the link to the tool in a readme file to make it visible to the users.

I think it will be cleaner to have something that's optional and not in the same language as our track in a separate repository.
This will also help with having good documentation and tests for the tool without adding too much noise to this track.

[2018-07-26 12:48] guygastineau commented on #185
@kotp @budmc29

#### Thank you both for your input.
- For now I will work on the program in it's separate repo [here](https://github.com/guygastineau/bash-track-test-generator)
  - As of now I'm using it on a branch of `exercism/bash`.
  - I am reworking it so it can work from that repo by pulling the json from the internet with 'open-uri', and I will be changing the path dependencies in favor of

[2018-07-26 13:08] guygastineau commented on #116
I'll check later today, but I believe shellcheck gets mad if you use `[ ]` instead of `[[ ]]`.

I think if we implement it we will have to change all of our tests to use `[[ ]]`.

[2018-07-26 13:12] budmc29 commented on #116
I see no issue with that, it's actually an improvement if my understand of how `[[` works is correct.

[2018-07-26 13:37] guygastineau commented on #116
Okay, great.  I will look into adding linting with shellcheck.

I guess we will need to make other scripts and bin/* follow the same guidelines.

[2018-07-26 17:58] guygastineau commented on #185
Reworked the project.  It is actually just ruby now.
It functions without the presence of the bash track repo now.
Feel free to take a look [here](https://github.com/guygastineau/bash-track-test-generator).

[2018-07-26 20:54] kytrinyx commented on #166
No, I think we have what we need, thanks!

[2018-07-26 20:54] #166 closed

[2018-07-31 00:41] guygastineau opened #197 "Updating Grains: Include last case?"
Our grains test has all but the last test case from the [canonical-data.json](https://github.com/exercism/problem-specifications/blob/master/exercises/grains/canonical-data.json).

It is the one that wants the total count for all the grains on the board.

Should I include it in my upcoming update and change the `example.sh` to pass, or should I leave the problem as is?

[2018-07-31 02:29] guygastineau commented on #197
I did get the example to pass the test but it took some thorough reworking.

I think adding the last test gets the student to think some about structure.

Here is the new example.sh

[code]

[2018-07-31 02:31] guygastineau commented on #197
the old one is:
[code]

[2018-07-31 03:35] kotp commented on #197
Create a merge request for this...

[2018-07-31 03:44] guygastineau commented on #197
Cool I'll PR the test, example, and version once #198 goes through.

[2018-07-31 14:18] guygastineau commented on #181
I'll try to make sensible, succinct comments for those `jq` lines of code and PR them in between the exercise updates I'm doing.  If the comments are on point I hope you all will like them.

Then I can close this issue.

[2018-07-31 14:38] guygastineau commented on #136
More than half-way to closing this issue!

[2018-07-31 22:55] budmc29 commented on #185
Sounds great.

[2018-08-01 10:39] #197 closed

[2018-08-01 11:24] ZapAnton opened #200 "leap: Unable to run tests"
In the leap exercise if I run `bats leap_test.sh`, I would always get an error:
[code]
regardless of the actual returned value in my script.

I tried to run and [example solution](https://github.com/exercism/bash/blob/master/exercises/leap/example.sh), and it also fails with the same error.

But when I replaced
[code]
with
[code]
everything is fine in that test case.

Is there a problem on my end?

[2018-08-01 11:46] sjwarner-bp commented on #200
This sounds like a permissions issue - what does the file permissions read as when you run `ls -l`

[2018-08-01 13:04] budmc29 commented on #200
@ZapAnton we're moving towards using `run bash exercise.sh` on all our tests, feel free to open a PR if you would like to help fix this.

Example PR: https://github.com/exercism/bash/pull/177/files

[2018-08-01 13:07] budmc29 commented on #200
As a quick fix, you can update your test and submit them with the solution.

[2018-08-01 16:07] #200 closed

[2018-08-02 07:04] ZapAnton opened #204 "Usage of coreutils"
Is the usage of the standard utils like `cat` `sed`, `awk`, etc. permitted to complete the exercises on this track? Or every solution should be pure Bash?

Asking, because I haven't found anything in the READMEs for this question.

[2018-08-02 07:12] ZapAnton opened #205 "Stub files for the exercises"
Are there any plans to add stub files for the exercises?

Perhaps with some standard template, e.g.:

[code]

[2018-08-02 10:16] #181 closed

[2018-08-02 10:27] budmc29 opened #206 "Add 'mathematics' tag to math exercises"
As discussed here: https://github.com/exercism/exercism.io/issues/4110

[2018-08-02 12:37] ZapAnton commented on #206
Two questions about this issue, if I may:

- `luhn` has the `mathematics` tag, even though it is not specified in the referenced issue, and it is `core`
exercise, which contradicts the same issue.

- `armstrong-numbers` is a `core` exercise and has `mathematics` tag.

What should be done with these exercises?

[2018-08-02 12:56] guygastineau commented on #185
Hey @budmc29 what do you think about chanigng our test example and the template [here](https://github.com/exercism/bash/blob/master/_template/exercise_slug_test.sh) so that they don't have the newline inbetween the run command and the expected status and ouput?

I think most of our exercises now don't have the newline and the main repo for BATS, [here](https://github.com/sstephenson/bats), also do

[2018-08-02 19:48] NobbZ commented on #206
No, the questions belong here as the pr contradicts the linked issue.

Aside of that, no decision has been made yet. I'd not do premature PRs yet.

[2018-08-02 22:35] #185 closed

[2018-08-03 08:20] #204 closed

[2018-08-03 08:28] budmc29 commented on #206
This is an opened issue, not a PR.
And I understand what you are trying to say.

We have a few exercises that already have the tag `mathematics` in our track, and in order to know what to do with them, it's best to ask the question in the original opened issue.

There might be other tracks that will have to deal with the problem, so it's better to have the discussion there, and also the exercises

[2018-08-03 16:03] jackhughesweb opened #214 "Fix getting started instructions for bash"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the "Still stuck?" sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-03 16:22] guygastineau commented on #214
I just checked the `config/exercise_readme.go.tmpl` for the bash track and there don't seem to be any broken links. Thanks for the heads up though.

[2018-08-03 16:36] #214 closed

[2018-08-05 11:52] #206 closed

[2018-08-14 23:43] #136 closed

[2018-08-16 00:32] guygastineau commented on #116
I will look into this again after I have gotten a couple more exercises ported to the track.

[2018-08-19 13:11] budmc29 commented on #116
I'll take another try at this.

[2018-08-19 13:48] budmc29 opened #233 "Add shellcheck"

[2018-08-19 13:48] #233 closed

[2018-08-19 15:39] guygastineau opened #235 "diamond: working on new exercise"
Hey all, last night I managed to make a functional diamond.sh script in the hopes of adding another exercise to our track.

It is much harder than it would be in something like python. haha

I was wondering what everyones thought were on how to test the output of the solutions.

[canonical-data.json](https://github.com/exercism/problem-specifications/blob/master/exercises/diamond/canonical-data.js

[2018-08-19 15:52] guygastineau commented on #235
I shouldn't actually have to compare them line by line.  I don't know what I was thinking there.

[2018-08-19 17:51] budmc29 commented on #235
I think it's better to keep all the test input and expected output in the same file. There's no need for separate files at the size of our exercises.

[2018-08-19 17:55] budmc29 opened #236 "Bash test files shebang"
I'm currently working on  #234 which will add automatic checking for our files to `travis`.

One of the issues with the linter is that it's not recognizing the `#!/usr/bin/env bats` shebang.

Since we don't use the `bats` convention and we have `exercise.sh` instead of `exercise.bats`, I think we are fine to update the shebang to be `#!/usr/bin/env bash`.
That should not make any difference since

[2018-08-19 17:58] guygastineau commented on #235
Okay, I'll put some results up later.

I was just worried because the larger diamond is 51 lines long 🤣

[2018-08-19 17:59] guygastineau commented on #236
Sounds fine to me.

[2018-08-19 18:55] kytrinyx opened #237 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-19 19:00] budmc29 commented on #237
Nothing to change here, all good 😄

[2018-08-19 19:00] #237 closed

[2018-08-19 19:03] kytrinyx commented on #237
Sweet, thanks!

[2018-08-20 03:16] guygastineau commented on #235
PR #238 is up with the exercise.

[2018-08-22 01:49] #236 closed

[2018-08-23 11:26] ZapAnton opened #241 "pangram: return code of a false result"
In the `pangram` exercise each test expects that the tested function returns `0` status code, regardless if the passed string is a pangram or not.

But earlier in the `armstrong-numbers` exercise if the number is not an armstrong number the tested function is expected to return `1` status code.

Should the `pangram` test suite be changed to expect `1` status code for consistency?

[2018-08-23 11:34] guygastineau commented on #241
It was a conscious decision.  Before I believe it relied solely on the exit status to judge the truthiness, but in order to be consistent it was decided that exercises should return text output.

Since the program is functioning correctly if it returns either true or false it isn't really an error when it returns false.

Therefore, an exit code of 0 for non-error returns makes the best policy.

Ot

[2018-08-23 11:38] budmc29 commented on #241
@ZapAnton if you want, feel free to look at the exercises and see if there is any inconsistent application of that rule and create a PR.

[2018-08-23 16:16] #241 closed

[2018-08-30 11:31] guygastineau opened #247 "Unlocking nucleotide count"
Do you all think that nucleotide count should be unlocked by Hamming instead of Hello-world?

Personally I think that nucleotide count is easier than Hamming, but I also think it is thematically tied to Hamming.

Let me know what you think.

@exercism/bash-contributors

[2018-09-04 21:35] budmc29 commented on #247
Looks like `nucleotide-count` is not unlocked by hello-world, or am I missing something?

I have nothing against unlocking it by `hamming`, so feel free to open a PR.

[2018-09-04 21:44] guygastineau commented on #247
Yeah, I just checked it again and it isn't. I don't know why I thought it was.

Thank you for the feedback.  I'll make a PR sometime this week.

[2018-09-07 12:27] ZapAnton opened #250 "The meaning of the stdout tag"
Couldn't find any sort of discussion about the issue, but feel free to close it if this is a duplicate.

My question is what is the meaning behind `stdout` tag in the exercises?

Every exercise is organized to test the content of the stdout, but only a few are marked with this tag.

If this tag is used to show that some special string is expected as an output then why `nucleotide-count` or `rna-tr

[2018-09-07 12:54] guygastineau commented on #250
This is a good point.  The nature of the Bash has us testing stdout where other languages would just be testing return values with the programs API.

I think there is no reason for this tag in our track since it is implied by the nature of Bash and our tests.

Let's see what some others think before acting, but I think this will turn into a PR to remove those tags.  In that case I would like to la

[2018-09-08 02:31] guygastineau commented on #247
I should have time to do this tomorrow.

[2018-09-08 02:35] guygastineau commented on #250
I added the good first patch label.

If it doesn't seem like there are any new takers in a couple days, then please feel free to do this.

PS. If anyone the thinks this shouldn't have that label please voice your opinion.

Thanks

[2018-09-15 17:25] stantoncbradley opened #252 "bats not working?"
Hi! Thanks for an awesome project! I've been using exercism for years :D really dig the new format!

I'm trying to work through the bash track, but the bats test suite doesn't work for me :(

[code]
then I changed it to
[code]
any ideas why the test suite and/or bats isn't working for me?

MacOS High Sierra 10.13.2
Bats 0.4.0
Homebrew 1.7.4
Homebrew/homebrew-core (git revision ba17c; last commit 2

[2018-09-15 18:17] stantoncbradley commented on #252
Here is the code, btw
[code]
copy/pasted straight from someone else's working solution

[2018-09-16 14:08] guygastineau commented on #250
It doesn't seem like we have any first time takers on this. I'll remove the label when I'm back at my computer.

[2018-09-17 08:52] #250 closed

[2018-09-17 09:03] budmc29 commented on #252
Looks like the solution you provided does not work on my Mac as well, it could be a solution that works fine on a Linux machine, but because of the bash number overflow (I don't know the exact name for the issue): https://superuser.com/questions/1030122/what-is-the-maximum-value-of-a-numeric-bash-shell-variable.

You can try and solve the issue yourself, or have a look here for a valid solution: h

[2018-09-18 01:18] stantoncbradley commented on #252
figured it out! was running the command from a directory up, needed to be in the directory to pick up the file path

[2018-09-18 01:18] #252 closed

[2018-09-20 09:27] ZapAnton opened #255 "Should all non-core exercises have an explicit unlocked_by field"
Currently there is a number of non-core exercises in the `config.json` that have the `unlocked_by` field set to `null`.

Should this field be set  to non-null value, so that only core exercises would have `unlocked_by: null` line (I am not sure but that was an Exercism-wide rule for all tracks)?

Current list of such exercises:

- `two-fer`
- `error-handling`
- `leap`

[2018-09-20 09:32] sjwarner-bp commented on #255
I believe this is deliberate so that there are a range of optional extra non-core exercises that don't require explicit dependent exercises to be completed.

[2018-09-20 09:38] ZapAnton commented on #255
Why not set them to be unlocked by `hello-wold`?

I believe most students would want to test if their environment is working correctly, before getting to solve exercises (which is why the exercise exists).

[2018-09-20 09:44] sjwarner-bp commented on #255
@ZapAnton (taken from https://github.com/exercism/java/issues/1481)

There is another recommendation in that thread:

I'm not 100% sure on the number of hello-world unlocks at the moment, or if the UI still has the same issue or not.

[2018-09-20 09:48] ZapAnton commented on #255
Was going to post the same comments.

Currently there are only two exercises unlocked by `hello-world`: `reverse-string` and `raindrops` so adding 3 more should not be the problem

[2018-09-20 09:57] ZapAnton commented on #255
What is interesting is that on the track web page those exercises are already marked as unlocked by `hello-world`:

![image](https://user-images.githubusercontent.com/8658767/45811000-b0cb4400-bcd4-11e8-8152-19df90b7a705.png)

[2018-09-20 10:03] budmc29 commented on #255
Looks like the default behavior might be that any unlocked exercises will be shown as unlocked by `hello-world`.
Since `hello-world` is auto approve, might be worth making that explicit.

[2018-09-20 10:03] #247 closed

[2018-10-07 04:18] troberson opened #263 "Triangle Test: Needs Unique Names"
The "skip" feature of "bats" requires all tests to have unique names. Otherwise, all tests with the same name are skipped.

![triangle](https://user-images.githubusercontent.com/1380069/46578156-b00d0000-c9ac-11e8-8335-d397d866f19a.png)

Here is a patch to rename the tests to be both unique and more descriptive:
https://gist.github.com/troberson/b2f0c6c3f116f036d49218f0545c90f6

![triangle2](https

[2018-10-24 13:53] budmc29 commented on #116
I have closed my attempt since I don't have that much time anymore, but if anyone is interested you can see the progress I made on #234

[2018-10-24 14:04] budmc29 commented on #263
I have commented on the PR, and I think making the tests have better names would help all the repositories not just ours (even if it's a quirk of Bats).

If people disagree with that, then we'll just merge the PR as it is.

[2019-01-11 16:43] rpalo opened #268 "Rearrange core exercises for better student (and mentor) progression"
I've been doing a lot of Bash mentoring recently, and I was thinking that Grains is probably not the best *very first* core exercise.  And then, as I was coming up with a better one, I figured I'd take a cut at rearranging them completely.

The Ruby track has a really nice progression, so I used that as my initial model, but then, considering what's easy in Ruby is not necessarily what's easy in B

[2019-01-15 10:55] budmc29 commented on #268
I like your proposition.

The only thing that I think would be better is to add `error-handling` as the second exercise, and shift everything after that.

What do you think?

Anyway, feel free to open a PR and we'll merge that.

[2019-01-15 11:15] budmc29 commented on #263
Will close this, feel free to reopen if you have time to complete it.

[2019-01-15 11:15] #263 closed

[2019-01-15 11:16] budmc29 commented on #116
I'll close this. If anyone has time to pick it up, feel free to reopen.

[2019-01-15 11:16] #116 closed

[2019-03-08 02:13] CivZero commented on #9
I know this is almost a year old and I'm sorry for bringing this back up again, but I can't seem to get this script to run. Here is what I've written.

`
#!/usr/bin/env bash

set -o errexit
set -o nounset

main() {

  input=$1

  echo "Hello, World!"
}

main "$@"
`
Please help. I'm losing my mind trying to figure out what I did wrong. I made sure that the output is exact, that the bats version is

[2019-03-08 02:24] CivZero opened #272 "Hello World exercise"
Please help. I'm losing my mind trying to figure out what I did wrong. I made sure that the output is exact, that the bats version is updated and that the .sh's are executable. I have even tried copying someone else's code and it still isn't working for me.

[code]
Sorry, forgot to post error message.
![screen shot 2019-03-07 at 8 36 12 pm](https://user-images.githubusercontent.com/6953162/5400370

[2019-03-08 05:40] kytrinyx commented on #9
@CivZero Would you mind opening an issue in http://github.com/exercism/exercism/issues? I'm not sure this will get seen by anyone who is currently active on the bash track and could help since this issue is closed and very old.

[2019-03-08 07:59] NobbZ commented on #272
1. The file does not need to be executable, as the tests do `bash hello_world.sh`
2. If you call the script from the shell manually, using the same invocation as in the tests (look them up please, to be exact) what do you see then?
3. Have you checked if you have named the file exactly as expected? Taking care of the casing behaviour of your file system?

[2019-03-08 08:01] NobbZ commented on #272
Ps, $1 is not set, therefore the script will panic on line 7.

You do not need that anymore, remove that line and it will probably work.

[2019-03-08 08:16] NobbZ commented on #9
The same has been asked in #272, I've left my reply there.

Luckily `bash` repository is on my watch list and I get notified about discussions here.

[2019-03-19 18:12] CivZero commented on #272
Thanks, everyone for responding. Sorry for posting this in the other thread, I'm still somewhat new to Git so I'm learning the ins and outs. I was finally able to get this working so thank you all very much for the info.

[2019-03-20 16:12] #272 closed

[2019-04-03 13:04] chrisAhmed opened #273 "Exercise 1 problem"
Hello! So I'm a bit confused with this first exercise. It says to comment out or remove "skip" annotations prepending other tests. What other tests are there and where are these "skip" annotations?

Also, bats throws an error for the test shell script with the following:

/*
 ✗ Say Hi!
   (in test file hello_world_test.sh, line 6)
     `[ "$status" -eq 0 ]' failed
*/

Is that what we are supposed

[2019-04-03 13:29] NobbZ commented on #273
The testsuite for `hello-world` does not contain any `skip`ed tests, so you can't remove any `skip`s there. Just remember that remark for subsequent exercises.

The error message you quote though, tells us, that the script under test did not exit with an exit code of `0`. This can have many reasons.

What is the actual content of your `hello_world.sh`? And what is the output of `bash hello_world.s

[2019-04-03 15:52] chrisAhmed commented on #273
Hi NobbZ, thanks for your help.

It's the default script that was packaged with the exercise. It doesn't say to edit anything so I haven't done anything to it. The following:
`bash hello_world.sh; echo $?`
results in
`hello_world.sh: line 17: $1: unbound variable`
`1`

[2019-04-03 18:14] NobbZ commented on #273
Of course you need to edit the script, that's the overall cause of doing the exercises, what is the fun in getting the solution with the exercise?

And now, you know what's causing the error, now it should be easy to fix.

[2019-04-03 18:51] chrisAhmed commented on #273
I knew there was _something_ to do, but not exactly what as these instructions seem to be a bit vague especially for someone brand new to bash and this type of learning environment.

For example, with the skip annotations comment, I was spending far too much time trying to figure out what that exactly meant only to realize (from your message above) that it will be useful to know only for further e

[2019-04-03 21:14] NobbZ commented on #273
Sadly there is nothing what we could do about the phrase "function", as the README is generated from a central description, and the word "function" suites the needs for about all tracks but a few.

I do understand though, that the "skip" part might be confusing at first, but once you get it, its fine :) But I think, that it should be possible to remove that comment from `hello-world` and move it t

[2019-04-13 03:24] #273 closed

[2019-04-13 03:56] guygastineau opened #276 "Changing error-handling"
#275

will break solutions like:
[code]
But changing the substitution syntax from `:-` to `-` works.
Example:
[code]
---
This issue's purpose is to discuss this change's impact, and/or to show your support/reluctance regarding this change.

[2019-04-13 04:00] guygastineau commented on #276
Personally I am for it.

Our [hello_world_test.sh](https://github.com/exercism/bash/blob/master/exercises/hello-world/hello_world_test.sh) is already expanded from the [problem-specifications](https://github.com/exercism/problem-specifications/blob/master/exercises/hello-world/canonical-data.json), so I think we can merge this.

I think the fact that it encourages looking deeper into parameter sub

[2019-04-13 13:42] #276 closed

[2019-05-24 22:59] guygastineau opened #287 "Reorganizing Exercises"
Now that we have more (and harder) exercises I think we need to rethink our core exercises, and then apply a new unlocking scheme.

Thanks to @glennj we have a slew of new ports coming in https://github.com/glennj/bash/branches/active

It might be easier to accept suboptimal unlocking relationships for now, and then tackle this project once all the exercises from the above link have made it into t

[2019-05-25 15:08] glennj commented on #287
Do we also want to review the topics? I've noticed that we've strayed from (what I assume is) the canonical [list of topics](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt).

In reordering relationships, how much do we want to allow ourselves to be influenced by other language tracks?

[2019-05-25 17:03] guygastineau commented on #287
I think looking at some of the more systematic language tracks is a good idea.

Some exercises will have the same tags in all languages, but the tags are intentionally left up to the track.  Some languages have wildly different ways of handling the same problem which leads to different tags.

Still observing the tags used elsewhere can ensure we don't omit relevant tags.

I think in the ten months

[2019-05-25 17:06] guygastineau commented on #287
Yes, I believe that our topics shouldn't stray from that list.  If we think a topic needs to be used it should be PR'd there first.

[2019-05-25 17:28] glennj commented on #287
I still am working on more ports. I think I'll pause this issue for now (for me).

[2019-05-25 17:42] guygastineau commented on #287
Sure, I appreciate your diligent efforts, and I think once you get us to 50+ exercises we will be in a very good place to organize our track well.

[2019-05-30 02:24] guygastineau opened #298 "resistor-color-duo wasn't found in canonical_data_check"
I caught this line when running the script [canonical_data_check](https://github.com/exercism/bash/blob/master/bin/canonical_data_check).

https://github.com/exercism/bash/blob/64832951a57b853f3be906d846403b9b10e9dc5b/bin/canonical_data_check#L52

[2019-05-30 02:31] guygastineau commented on #298
I took a screenshot, but I can't upload it, because I don't use a FSManager (just bash)

I followed github's instructions, and copied it to chrome from the system clipboard, but it posted the raw `png`.

Probably because I used ` xclip -i bug.png && xclip -o | xclip -selection clipboard -i`  :laughing:

[2019-05-30 02:35] guygastineau commented on #298
Sorry, I hadn't updated my local problem-spec clone in a while.  Merging upstream fixed it for me.

[2019-05-30 02:35] #298 closed

[2019-06-05 20:20] glennj commented on #287
I've ported as many exercises as I think are appropriate.

I've put together a grid to list the current parent-child relationships, and the tags for each exercise. See [this google sheet](https://docs.google.com/spreadsheets/d/14c1oovaMJeHvxBWpCk6BqX_XYqNBgLHfQ1WKsM-zye8/edit?usp=sharing). Next step is to  re-parent the non-core exercises as appropriate and to normalize the tags. I'll be adding an

[2019-06-12 19:11] glennj commented on #287
I've taken my stab at reorganizing and re-keywording the exercises (based largely on the Ruby track). Please see [the google sheet](https://docs.google.com/spreadsheets/d/14c1oovaMJeHvxBWpCk6BqX_XYqNBgLHfQ1WKsM-zye8/edit?usp=sharing).

[2019-06-12 19:29] guygastineau commented on #287
Thanks for taking initiative on this.  I am taking a look now ;)

[2019-06-12 19:34] guygastineau commented on #287
Excellent work on these google-sheets.

I'll think about it today, and do some additional thought organization.  Remind me if I haven't gotten back to you about this in a day or two ;)

[2019-06-13 21:28] guygastineau commented on #287
Once we get the link from @IsaacG ordering the exercises by difficulty I think we should work our way through the sanity of the difficulty ratings, before finalizing our thoughts on core/child relationships in the track.

This should also give us some time to catch our info up with the new ports @glennj has been rolling out.

[2019-06-14 19:17] IsaacG commented on #287
$  jq -r '.exercises|.[]|"\(.difficulty) \(.slug)"' config.json | sort -n

1 hello-world
1 reverse-string
1 two-fer
2 allergies
2 armstrong-numbers
2 difference-of-squares
2 error-handling
2 grains
2 hamming
2 house
2 largest-series-product
2 leap
2 pangram
2 raindrops
2 resistor-color-duo
2 rna-transcription
2 scrabble-score
2 secret-handshake
2 series
3 acronym
3 anagram
3 beer-song
3 bob
3 coll

[2019-07-04 20:37] glennj commented on #287
Whenever we want to revisit this, I'm happy to participate.

[2019-07-20 22:47] Ric0chet-GitHub opened #353 "Additional Test for ISBN-Verifier Exercise on Bash Track"
The test suite for this exercise currently doesn't check for the case of an otherwise valid ISBN with an embedded invalid character (containing 11 characters):
[code]
I'm assuming this should return "false."  While submitting my current solution, I realized that it would fail such a test.

Thanks,
-Logan

[2019-07-21 01:32] kotp commented on #353
This may be true for tracks in general.  Can you check [this file](https://github.com/exercism/problem-specifications/blob/master/exercises/isbn-verifier/canonical-data.json) and see if there isn't a test missing from there?  I see a test that is similar, though it uses "X" instead of "P".

If this is true from the canonical data, then we need to add it in there and regenerate the tests here.

[2019-07-21 07:49] NobbZ commented on #353
`X` is a character that is valid at the last (first(?)) digit of the ISBN and does mean a value of `10` for that digit IIRC.

The test in the canonical data is designed to have a valid ISBN when the `X` is accepted everywhere and its numerical value is used. It requires though that an error is returned.

I'm therefore in favor of bringing this to the problem-specifications.

[2019-07-21 13:45] guygastineau commented on #353
@kotp @NobbZ thank you both for your wisdom.

@Ric0chet-GitHub thank you for bringing this to attention.  Once you open an issue or PR in problem specifications please link it to this issue, so we know we can close it.

Cheers

[2019-08-03 18:19] kytrinyx opened #365 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-03 19:06] guygastineau commented on #365
@kytrinyx thank you for letting us know.

I have a couple questions. Our current testing software does not test individual functions, but rather the execution of their script.  Because of this it is typically inappropriate for use to provide unimplemented function (there are many solutions where functions are overkill).

Do you find it suitable for our stub files simply to include:
1. header, ie.

[2019-08-03 19:22] guygastineau opened #366 "Switch Tests to Library Tests"
@kotp and I have discussed before the possibility of running our tests against functions from sourced libs instead of testing and executable script.

With the newandate for stubs I think this is a good time to discuss whether or not we would prefer switching to this model.

-----

#### Pros:
- Allow us to standardize the API of exercises.
- Allow easier static code analysis for the auto-mentor pro

[2019-08-03 19:43] guygastineau commented on #353
I just checked the canonical-data, and the test that @Ric0chet-GitHub wants needs to be added to problem-specifications first.  I am closing this issue.

[2019-08-03 19:43] #353 closed

[2019-08-03 19:48] guygastineau opened #367 "Enforceable Style-Guidlines for Contributions"
Currently we have a loose reference to an external style-guide that is not enforced.

It should be clear that this is not meant to be a style enforced on our students by mentors.

I propose that we create a clear, enforceable, in-house style-guide that is applied/enforced on all contributions.  This project may be started as a PR, but it is also fine for us to flesh out some ideas/preferences here

[2019-08-03 19:59] guygastineau opened #368 "Mentor Docs"
I am working on organizing a revision and expansion of our current docs.

We need to revise plenty of docs, but also need to have docs at all for `bantor`

I think it would be nice for us to have mentor docs.  Currently we have maintainer docs (need revision), but there are no docs for mentors.  I wanted to get opinions on this before anything is started.

@glennj I'd love your input too as the au

[2019-08-03 20:07] guygastineau commented on #367
I would like to address the following question rather immediately:
### Shouldn't we change our file and directory naming schema to `kebab-case` instead of `snake_case`?

Personally I see no reason to convert our slugs between these two conventions. Furthermore, who really likes underscores?!?

Well, that is probably a bit too emotional.  I wont make this change unless there is majority support, bu

[2019-08-03 20:19] guygastineau commented on #365
For the time being I am going to move forward with the idea of these general stub files until we have resolved #366

This file is a template we already have [example.sh](https://github.com/exercism/bash/blob/master/_template/example.sh). We don't use a template for our example implementation, so I would like to rename it to `stub-template`. I also will remove the unnecessary `set` options at the h

[2019-08-03 20:55] kotp commented on #367
I believe the snake case is something that effects things at a higher level than just the track.  (from memory, not recently researched).

[2019-08-03 20:59] guygastineau commented on #367
You are probably right.

That aspect should be out in hold until we can get verification.

[2019-08-03 21:12] glennj commented on #368
I'll put more attention to this later, but there exist wheels that don't need re-inventing:
a couple of resources that spring to mind:
* the [Stack Overflow bash info page](https://stackoverflow.com/tags/bash/info)
* [Greg's Wiki](https://mywiki.wooledge.org/EnglishFrontPage): BashFAQ, BashGuide, BashPitfalls
* the manual, of course, but that's hardly a tutorial.
* https://github.com/dylanaraps/pu

[2019-08-03 21:14] kytrinyx commented on #365
Yeah, totally. In a language where there really isn't much to it, the stubs can be as simple as they need to be. We mainly want consistency across the board, and a way to reduce/eliminate support requests where necessary.

Thank you for the question. I'm really grateful that you've already taken some time to think through this!

[2019-08-03 21:24] glennj commented on #368
I think whatever we do with notes, they should be in a place where we can point students to it. i.e. public URL.

[2019-08-03 21:25] kotp commented on #367
I can check this later, just need to browse around to a few different tracks and verify, or look for snake_case in the issues for `exercism/exercism` maybe.

[2019-08-03 21:28] glennj commented on #366
As well, functions can open up exercises that require some state to be kept between tests, such as List Operations.

[2019-08-03 21:34] guygastineau commented on #368
Certainly, great internet resources are already linked for students, and they should remain linked for them.  The mentor docs would be regarding tools we make for mentor benefit.

Our in-house style guide from #367 would allow us to have a consistent style in all of our maintenance scripts.  Having it as a resource would allow us to point to that when a PR doesn't adhere.  People are less likely t

[2019-08-03 21:35] guygastineau commented on #366
Good point @glennj
I have wanted to hack that exercise into our track for a while.  Been busy though ;)

Does that mean you are on board?

[2019-08-03 21:40] guygastineau commented on #367
@kotp thank you :heart:

[2019-08-03 21:46] guygastineau commented on #365
No problem.  I have a proposal for our exercise_stub up, and pending approval I can just apply it with a script.  At least we will have them in place while we are transitioning to a testing system that requires specific stubs :smile:

[2019-08-03 22:45] kotp commented on #367
For the ones I checked, the languages that prefer not using camelCase style file names use dash for the exercise name (folder) and underscore for multi-word names.

So currently, leaving the standard as `shish-kebab/snake_case` as it is now is probably the thing to do.  We may have some choice as to the file name themselves, but I don't believe we have freedom for the exercise directory name style

[2019-08-03 22:47] kotp commented on #366
I would have thought that tests should be atomic, and not rely on "state" between tests.

[2019-08-03 22:50] guygastineau commented on #367
You are right.  All of the exercise directories expected to be kebab-case.  The thing that gets me about sbake-casing the filenames is that I can't see the reason behind it.

It is harder to type, and it forces all of our scripts to convert between the kebab exercise slug at the directory level and the snake interpretation of that same slug.

If other tracks are using camelCase for their exercises

[2019-08-03 22:53] guygastineau commented on #366
I think he might mean state between sub tests of multiple functions.  That is the kind of state that based flow we can't currently test with our model.

[2019-08-03 22:53] guygastineau commented on #366
There would likely be setup and teardown functions for each of these series of subtests.

[2019-08-03 23:40] IsaacG commented on #368
I'd add https://wiki.bash-hackers.org/ to wooledge/Greg's as a top-tier bash resource.

Might be worth highlighting: https://wiki.bash-hackers.org/scripting/tutoriallist

[2019-08-03 23:55] guygastineau commented on #368
Thank you @IsaacG that is a very good resource.

[2019-08-04 01:58] kotp commented on #367
Some other languages are using this camelCase, because their language has adopted this.  Also, another consideration is that `_` is not used to indicate an option while `-` is.  In a line of commands, this can sometimes be hard to see, especially if it is at the end of a terminal screen, and unsure if there is a space there that you can't detect. (This is the human aspect, a program would be able

[2019-08-04 02:18] guygastineau commented on #367
You make a good point about accessibility.

I just hate simultaneous key presses :smiling_imp:

I am also annoyed every time I have to transform it to a slug or transform from a slug to the snake_case version, but I can live with it.  I think it provides more opportunities for error in it's current state than it would in kebab-case though :stuck_out_tongue_closed_eyes:

[2019-08-04 02:40] kotp commented on #367
Make a library that we can load to do that in a function... ?

[2019-08-04 16:46] guygastineau commented on #366
So, after #370 is merged I will make a demo PR for `two-fer` that treats it like a library.

This will prove that - and show how - it works.

@glennj and @kotp it seems like you all are in favor of this change being applied to the track.

[2019-08-04 16:47] guygastineau commented on #366
@IsaacG I would like to know where you stand too.

We seem like the only 4 people who are currently active here, so I think it is completely safe to proceed if we are in agreement with each other.

[2019-08-04 17:02] IsaacG commented on #366
So much for abstaining :)

I don't have a strong preference. bash isn't exactly build around APIs and importing functions feels a bit weird. Generally, in bash the only API you have is the execve() of the script. On the other hand, an API does make life loads easier to use and still provides a fairly similar API to an exec(). So I'm fine either way.

[2019-08-04 17:31] guygastineau commented on #367
I merged committed #370 instead of squash comitting it. I guess I didn't realize that It turned a single commit into two (the real commit and the merge commit).

Historically we have been squash and merging since before I started here.

I know there is some sort of crazy debate in the wider world about how to handle history (and apparently the sides are as entrenched as the vim-vs-emacs wars).  I

[2019-08-04 17:44] guygastineau commented on #366
Thank you for weighing in @IsaacG

I agree that bash has a lot of flexibility.  I often write simple scripts with no functions. Especially wrapper scripts (like my `/usr/bin/vi` is `emacsclient -nw "$@"`)

Like @glennj pointed out, it should actually make previously impossible to-test-exercises viable for our track.  Also, enforcing the "public" interface will allow us to write static code analysi

[2019-08-04 17:45] guygastineau commented on #366
We might even be able to figure out how to do atomic benchmarks this way.

[2019-08-04 21:06] kotp commented on #367
The history is still pretty... no worries.  Squash and merge when there are commits that are minor and don't need a description or a commit point, merge when the history will still make sense.  Rebase and merge when it makes sense to do so.  Having a perfectly single level history can make sense, but it isn't disaster when it doesn't.  Avoid undue noise, but when the noise comes in, it's OK too.

[2019-08-06 02:52] guygastineau commented on #366
Hello again,

I know that our discussion is not finished here (or maybe it has only just begun :smile:), but I went ahead and tossed up #373 so that we could look at tangible code propositions for handling the conversion to library testing.

Please feel free to comment there about specifics.  This issue is probably better for continuing the guiding discussion.  Also, feel free to clone #373. It wo

[2019-08-06 14:44] glennj commented on #366
Copying comment from PR to here:

[2019-08-06 22:54] #365 closed

[2019-08-14 09:05] bkhl commented on #366
With this method, maybe we can make the testing so simple it can just be included at the top of the test file?

I feel like eliminating the dependency on Bats would on the whole be a good thing, and reduce the barrier to entry.

[2019-08-14 15:03] guygastineau commented on #366
@bkhl

Interesting idea.  I certainly don't think that `bats` is the greatest testing tool, but a lot of our test suites have a lot of tests, and this won't change what we get from `problem-specifications`.

I am concerned that this would produce a lot of exercises with 150+ lines up too followed by 5 lines of student solution.  I fear this would cause more confusion/greater barrier to entry.

[2019-08-14 15:06] guygastineau commented on #366
Furthermore, not to sound harsh, but if someone struggles to install `bats` they probably are not ready for exercism.

I know there is a lot of effort going into making exercism more accessible to inexperienced coders, but I think the current stumbling blocks are appropriate.

[2019-08-14 19:12] glennj opened #375 "Questions arise while implementing list-ops exercise as library implementation"
I’m implementing [list-ops](https://github.com/exercism/problem-specifications/tree/master/exercises/list-ops) as a library, and I've got some questions about the best way to proceed. Consider
[code]

Should the array be passed by name, or should the elements be passed? For a `map` function it doesn't really matter, but if the list function is something like `intersection` it would make more sense

[2019-08-14 19:13] glennj commented on #375
For testing, this is what I’ve got in the test script (pending this discussion): `run` receives an inline bash script.
[code]

[2019-08-14 19:22] glennj commented on #375
Relates to https://github.com/exercism/bash/pull/373

[2019-08-14 19:25] glennj commented on #375
Just tried another take in the test file:
[code]
The test failed due to the list::map function _not existing in `run`'s shell.

This way of writing the tests forces the library to `export -f` each function.

Is that something a shell library should do?

[2019-08-14 19:36] IsaacG commented on #375
bash sucks at this sort of thing. Consider using known list names. listA listB result. The function is responsible to read from those lists and write to that list.

The only real alternative is to pass variable names all over and use indirection.

[2019-08-26 19:18] alirezaghey opened #380 "Small English error in two_fer_test.sh"
The following line has a small English error:
https://github.com/exercism/bash/blob/f88a93f19749ec76ca1d4e947fb01ddf18ecb098/exercises/two-fer/two_fer_test.sh#L14

I'd like to correct it.

[2019-08-26 20:26] DERPSQUID9 opened #382 "Issue with test on Sieve exercise for Bash track."
My script for Sieve on the Bash track appears to output the same values as expected by the test script when I run it on its own, but it only ever passes the first two tests no matter what I do.

[2019-09-01 18:50] iHiD commented on #382
FYI, I've moved this to exercism/bash

[2019-09-01 23:29] IsaacG commented on #382
So ... bats `run` changes the IFS.

[code]

^^ fails on the second test. But passes the first.

[code]

prints

[code]

So the IFS is being set to `\n` where it generally is `space-tab-newline`. Which means the output gets newline-separated vs space.

[2019-09-01 23:34] IsaacG commented on #382
There's a bug in the test tool [here on L61](https://github.com/sstephenson/bats/blob/03608115df2071fff4eaaff1605768c275e5f81f/libexec/bats-exec-test#L61). Rather than assigning IFS for the one line where they want to split the output on newline, they are actually permanently assigning a new value to IFS in the format of `a=1 b=2` which assigns two vars.

I'll submit an upstream patch.

[2019-09-01 23:43] IsaacG commented on #382
Fun fact, that bats repo has: Latest commit 0360811 on Feb 19, 2016.

It might not get fixed. Work around might require us setting IFS=$' \t\n' in the test code after doing a `run`

[2019-09-02 21:46] glennj commented on #382
PR https://github.com/exercism/bash/pull/383 takes another approach: don't use arrays for expected data in the tests.

[2019-09-05 07:44] ovidiu141 opened #384 "Duplicate tests for Triangle exercise"
All 3 tests for 'triangle inequality violation' have the same code:

[code]
The tests are not covering same cases of 'triangle inequality violation'. I think each test should call the script with different combinations of trianagle sides.

[code]

[2019-09-05 13:40] glennj commented on #382
That PR has been merged. You can navigate to your sieve solution and update to the latest test version. Re-download and verify your working code.

[2019-09-05 14:29] guygastineau commented on #384
Thank you for this issue. We need to check the [canonical-data.json](https://github.com/exercism/problem-specifications/blob/master/exercises/triangle/canonical-data.json) for this exercise.

I imagine this was an error in implementing the exercise here, but the canonical-data is probably providing different values for these three cases.

[2019-09-05 14:31] guygastineau commented on #384
Great, so looking at the canonical-data it is suggesting exactly what you propose for the values.

Would you like to patch this with a PR?

[2019-09-05 14:45] guygastineau commented on #382
@DERPSQUID9 can you confirm your solution is working now?

[2019-09-05 18:45] alirezaghey opened #386 "Resistor Color Trio test case too lenient"
The last three tests in Resistor Color Trio test whether the solution handles invalid input correctly.
The tests only check whether `$output` is empty or not.
https://github.com/exercism/bash/blob/0bad96e891a499c0ba92dd46f93b2de880595fa3/exercises/resistor-color-trio/resistor_color_trio_test.sh#L64

IMHO, it would be better to set an error message to test for. This would also be more in line with

[2019-09-06 03:00] DERPSQUID9 commented on #382
@guygastineau I sure can!

[2019-09-06 03:00] #382 closed

[2019-09-06 14:28] #384 closed

[2019-09-08 17:40] glennj commented on #386
The intent there is that the solution should output *some* error message. It doesn't really matter what the message is.

[2019-09-08 17:40] glennj commented on #386
I do notice now we could use a `brown red red == 1200 ohms` test case

[2019-09-08 20:07] alirezaghey commented on #386
You mind if I add it?

[2019-09-09 01:14] glennj commented on #386
Go for it

[2019-09-13 07:30] alirezaghey opened #389 "Difference of Squares README.md inconsistent with the tests file"
The README.md asks specifically for the **difference between the square of the sum and the sum of the squares**:
https://github.com/exercism/bash/blame/master/exercises/difference-of-squares/README.md#L3

But the tests expect the script to output the **square of the sum**, the **sum of the squares** or the **difference between the two** according to arguments that are passed to the script.

IMHO,

[2019-09-13 14:06] alirezaghey commented on #389
I'm not sure if I would change the README. Maybe we can change the tests to only check for the correct difference, assuming that one needs to correctly calculate the other parts to come to the correct answer.

The only educational part that is lost in this approach is the conditionals and testing to look what is asked for (sum of, square of, or diff), but I reckon at this stage, conditionals have

[2019-09-13 14:16] guygastineau commented on #389
Those tests come from the [canonical-data.json](https://github.com/exercism/problem-specifications/blob/master/exercises/difference-of-squares/canonical-data.json) from the `problem-specifications` repo.

@glennj is right to point out that the tests in question are testing building blocks of the internal implementation.

Any attempt to make such changes to this exercise must happen in `problem-spe

[2019-09-13 14:22] alirezaghey commented on #389
Then maybe close or change of README? (I'm not sure how I would change the README and keep it concise and clear)

[2019-09-13 14:24] #386 closed

[2019-09-13 14:27] NobbZ commented on #389
The [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/difference-of-squares/canonical-data.json) does test for the implementation detail of the helper functions as well.

[2019-09-13 14:29] guygastineau commented on #366
So, it appears like most of us are at least in support of using library exercises that test the functions using a `::` namespacing method.

I suppose we can start rolling out new PRs to update exercises. I will do a few this week.

I am also working on a new test generator to ease the burden of this change and the burden of updating exercises.

I will post a link to the repo for it when it is read

[2019-09-13 14:33] guygastineau commented on #389
If you want there to be a change in the readme that should also happen in the `problem-specificationa` repository.

I take for granted that the readme seems to lack clarity, because I have done the exercise in multiple tracks.  However, I do remember the first time doing this exercise, and the slight confusion I felt.

Ultimately, I think it would be positive for the readme to mention that the tes

[2019-09-13 14:39] alirezaghey commented on #389
Great, thank you for letting me know. I was already doubting myself for the confusion in the first place :sweat_smile:.
I'm closing. Thank you all for the explanation.

[2019-09-13 14:39] #389 closed

[2019-09-13 16:17] glennj commented on #389
@alirezaghey I appreciate your continuing interest in making this track better. It's always good to have some fresher eyes looking at things. Keep it up!

[2019-09-30 14:16] guygastineau opened #391 "INSTALLATION.md"
Add suggestion for Mac users to use HomeBrew to get up to date bash installation.

[2019-09-30 14:16] guygastineau commented on #391
As discussed in #387

[2019-09-30 14:18] guygastineau commented on #391
@glennj do you want to do this or should we put a good first patch and hacktoberfest label on this?

[2019-09-30 19:16] glennj commented on #391
PR #393

[2019-10-01 01:22] glennj commented on #391
What's the URL for this on the track?

[2019-10-01 02:52] bkhl opened #394 "Run shellcheck automatically on submissions in Bash track as a mentor aid"
(Continued from https://github.com/exercism/exercism/issues/4806)

I find that when mentoring in the Bash track, a lot of the time, on the early exercises, a lot of my comments are about stuff that would have been caught by [shellcheck](https://www.shellcheck.net/) (static analysis tool for sh/Bash).

How about running it automatically and show the output to the mentor, augmented with ready-to-pas

[2019-10-01 13:57] glennj commented on #394
The [`bantor`](https://github.com/exercism/bash/blob/master/mentor_tools/bantor) mentoring tool runs shellcheck on a student's solution.

[2019-10-01 14:26] guygastineau commented on #391
I don't know exactly. You should be able to find it from the track page.

[2019-10-01 14:29] guygastineau commented on #394
Yeah, This would be re-implementing some parts of what `bantor` does, but it would happen in the automated-analysis part of exercism.

I think we definitely need to continue supporting bantor, but this idea from @bkhl should be an awesome and relatively easy way to get the bones for automated analysis in place for the track.

[2019-10-01 17:22] glennj commented on #391
Ah, right. I had to switch to mentored mode to see the docs.

[2019-10-02 13:13] guygastineau commented on #394
So, in order to do this we need to get set up for for the automated analysis project.

Does anyone want to take lead on this?

I can if no one else wants to, but I figured I would check.

@bkhl this is your idea, so if you want the commit creds it is all yours.

Related:. I have been trying to figure out a way to get ASTs of bash scripts to use for automated analysis.

The python `bashlex` library

[2019-10-02 13:16] guygastineau commented on #391
I will work on information for the most common BSD's before this week is over.

@kotp do you think it is worth providing a link for `AIX` installation?

My initial reaction is: those are normally work servers, so hopefully people aren't actually doing exercism on them.

[2019-10-02 14:15] guygastineau commented on #394
Analyzing and comparing ASTs would be for deciding if a solution can be auto-approved.

It is completely unnecessary to inspect it directly for your suggestion.  As I understand it your suggestion is just getting shell check feedback for the mentor without auto-approved.

I think this means it will have to disapprove of every solution and pass on the shell check output (marshalled in json).

Getti

[2019-10-02 16:41] kotp commented on #391
I think it is worth it, but it would be interesting to find out how many people are using it for purposes of learning Bash.

[2019-10-02 16:44] guygastineau commented on #391
@kotp do you want me to research and add it with the BSD PR, or do you want to add the `AIX` installation info?

[2019-10-02 20:05] kotp commented on #391
Add it in, I think.  We don't do special treatment for HP-UX or other commercial variants, so unsure why AIX is being added in, exactly.  The audience is different, I would think.

[2019-10-02 20:24] guygastineau commented on #391
I wasn't aware of any other commercial variants.

[2019-10-03 11:57] ErikSchierboom opened #396 "What was it like to learn Bash?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2019-10-05 01:04] thexa4 commented on #396
For me, bash is useful as glue in combining multiple utilities together to achieve the result I wanted.  This resulted in me learning a lot of tricks to transform data from one form to another, mostly using generally available utilities.

The way I learned bash was totally different from other languages. I got into bash by running command line one-liners to fix stuff. Later I switched to automatin

[2019-11-17 11:23] tqa236 opened #405 "Should `*_test.sh` be a bats file?"
Because, as far as I understand, it's a bats file...

bats files doesn't work very well with the tools for sh file, like `shellcheck` or `kcov`, at least to me.

Should we change the extension to `.bats` to show that they are bats files?

[2019-11-28 02:09] braoult opened #407 "Two Fer and Error Handling: handling "blank" and leading/trailing whitespaces"
I believe these exercises should be amended to have "blank" strings made equivalent to empty, and leading and trailing blanks being removed for display. For example:

[code]
and
[code]

[2019-11-28 04:22] IsaacG commented on #407
This exercise focuses on error handling when an argument is missing. (1) I'm not convinced we want to add additional complexity with parsing the arg. (2) I'm not sure modifying the arg would even be considered correct behavior.

[2019-11-28 04:29] IsaacG commented on #405
+1

Personally, I'm in favor of getting rid of all .sh extensions ... unless we're doing POSIX sh. The executables in /bin don't have extensions so I don't see why executable shell scripts should have 'em. If we do need them, there's .bash and .bats

[2019-11-28 14:04] glennj commented on #407
I sometimes lose track of the purpose of the exercises.

Error handling is focused on simply identifying the given error condition, in this case the number of parameters. I can see testing if the argument is empty is an error, but extra spaces is probably not. (Although I can now envision some other error conditions that would be worthwhile testing for.)

Two-fer's focus is to provide a default va

[2019-11-28 14:20] glennj opened #408 "We should link to a bash-specific podcast episode"
The podcast [Command Line Heroes](https://www.redhat.com/en/command-line-heroes) did an episode about bash: [https://www.redhat.com/en/command-line-heroes/season-3/heroes-in-a-bash-shell](https://www.redhat.com/en/command-line-heroes/season-3/heroes-in-a-bash-shell). What would be the appropriate place to link to it?

[2019-11-28 15:00] glennj commented on #405
I don't have strong opinions about this. The Google shell style guide has [this to say about it](https://google.github.io/styleguide/shell.xml?showone=File_Extensions#File_Extensions)

We can consider the test scripts as libraries, so I can see them with a `.bats` extension if we either remove the shebang or change it to `#!/usr/bin/env bats`

The script files are not by default executable: the te

[2019-11-28 15:05] braoult commented on #407
I agree, this exercise is not to parse arguments...

But we have to go to test script to understand what is absolutely necessary.
The description being not explicit enough, everybody will have to understand what is needed after failing some tests, instead of being able to solve in one shot.

Either *all* requirements should be explained (change there), either some tests are removed/amended/added.

[2019-11-28 16:55] glennj commented on #407
That's an interesting perspective. When I approach solving an exercise, I read the README to get an overview of the problem, and then I immediately head to the test file to get the specifications for what API I'm about to implement. I agree that there's an opportunity here to improve the bash-specific portions of the README for this exercise.

[2019-11-29 01:25] braoult commented on #407
Why not replacing:
"However, if the name is missing, return the string"
with:
"However, if the name is missing or empty, return the string"
And adding the following test:
[code]
And (forgetting about trimming leading/trailing spaces) if we want to consider the case of "blank only" parameter, we could also add "non blank" to the description, and add the test:
[code]
I believe this could apply to ot

[2019-11-29 05:19] IsaacG commented on #407
I would argue that empty strings are still valid arguments and should be used like any other argument. I encourage people to test the number of arguments and not the contents of them. If the user decides to pass "" as an argument, then the script should honor that choice and not second guess or restrict how the user can use it.

[2019-11-29 06:41] braoult commented on #407
Obviously, if the exercise explanation is not changed. I was suggesting to change the explanation and the [empty string] test. Both, or none.
I prefer both, but you will have the last word. We discussed enough about it, why not closing this issue if everybody agrees that "One for , one for me" is a correct output ?
I would add (maybe wrongly) that any exercise should have a user goal. Like to outp

[2019-11-29 12:02] tqa236 commented on #405
I can make a PR if we can all agree on how to change them. I have one concern though. How will the CLI behave if we change the extensions of the files? I believe they will just download new files without deleting the old files. Is this correct?

[2019-11-30 11:18] b10s opened #409 "Markdown exercise: tests on mac are fail but on ubuntu ok"
how I can see it on my mac:
![photo_2019-11-30_20-18-17](https://user-images.githubusercontent.com/4618288/69899782-95ff5f80-13ae-11ea-9c86-6970dcc8c6d9.jpg)

[2019-12-02 08:49] b10s commented on #409
Just have identified the part which works incorrect in my OSX bash:
`str='## abcd'; expr "$str" : "#\+"`

<img width="461" alt="Screen Shot 2019-12-02 at 17 48 56" src="https://user-images.githubusercontent.com/4618288/69945026-10092300-152c-11ea-90a7-7b4483908c8a.png">

[2019-12-02 14:48] glennj commented on #409
It seems the GNU expr considers `#\+` a valid "basic regular expression", but the BSD expr does not:
[code]
This *appears* to be buggy behaviour, but I can't find a reference in the BSD expr man page describing the basic regex syntax being used.

[2019-12-15 10:25] bkhl opened #412 "Add .meta/config.json files to exercises"
To allow automatic test running and to participate in the current Exercism research experiment, each Exercise needs a new `.meta/config.json` file as described in:

https://github.com/exercism/research_experiment_1#config

[2019-12-18 04:40] guygastineau commented on #366
Hmm, so most of us have been to busy I think to make much headway on this.

I am trying to get my mind wrapped around everything that v3 implies.  It seems like v3 might push away from the library tests.  Well, on the one hand it might make it easier to implement, but on the other it probably changes that `shell`y feeling that I think we are supposed to facilitate better with the jump to v3.

I th

[2019-12-18 04:41] guygastineau commented on #412
Thanks for getting this issue up here @bkhl I will get to this before the end of the week!

[2019-12-20 08:27] bkhl commented on #412
The "cmd" parameter was clarified in: https://github.com/exercism/research_experiment_1/issues/32#issuecomment-567836268

[2019-12-20 17:04] guygastineau commented on #412
Awesome, that makes sense.

The test runner names are exactly the same as the names for the tests in our BATS files right?

[2019-12-29 19:18] guygastineau commented on #409
This issue is now resolved?

[2019-12-29 19:21] guygastineau commented on #407
What do people want to do about this?  Should we customize the two-fer exercise for the bash track?

[2019-12-29 19:29] guygastineau commented on #405
@tqa236 I think you are right about how the CLI will behave.

There is a PR up right now that has to do with file names, but that work was automated, and a fix could be automated for it that wouldn't make it horrible to fix.  You are right to think that older solutions will leave a weird directory when they are updated.

If we agree to use `.bats` for the test files, and no extension for the solut

[2019-12-29 21:45] kotp commented on #405
If the exercise files are executable, and not considered library files, then I agree with removing the extension.  The "magic comment" indicates the file type, and the file should be delivered with execute bit set.  This is where we are going as far as providing "skeleton" files for the exercises, now, right?

[2019-12-29 21:53] kotp commented on #407
I think that "One for , one for me." output given an empty string as an argument, but the test could be added to exhibit this explicitly to answer that question.  It may be useful to bring this up for all the tracks as well, as it isn't isolated to only Bash.

[2019-12-29 23:25] guygastineau commented on #405
Yes, @kotp you are right.  I don't think they are all executable currently, but we can change that.

[2019-12-29 23:29] guygastineau commented on #407
This has been been brought up before for all of the tracks.  I think `bash` is one of the only tracks where `""` is handled like invalid input.  Of course (ignoring the semantics of the exercise) in Bash typically if our script is expecting an argument, then that argument won't be `""`.  If it is, then something probably went wrong.

[2019-12-30 02:14] kotp commented on #405
Do we want to encourage them as executable scripts, or more as libraries?

[2019-12-30 02:47] guygastineau commented on #405
@kotp still a great question.  It seems like we had reached consensus that we should create a library style for the tests.  None of the work has happened for that.

I also remember something coming out of the `how did you learn Bashj?` issue that suggested our exercises appear contrived (read not very shelly) to some users.  If our goal is to make the experience feel as much like the general learn

[2019-12-30 05:40] kotp commented on #405
I think it is.  Bash is such a different beast because of how it is used than other, even scripting, languages.

[2019-12-30 06:00] guygastineau commented on #407
So it appears like we could accept either way as valid, and that we would probably benefit from explicitly testing for the case in which `""` is passed as an argument.  For other languages this is a non-issue since they typically know if an argument is present or not.

In bash it is more natural to use `${1:-some default}`.  This will fire even if an empty argument is supplied.  There is a slightl

[2019-12-30 17:19] kotp commented on #407
Other languages, I do end up talking about passing in an empty string explicitly, sometimes it isn't "input" from the keyboard, sometimes it may be coming from other sources.  So the idea of what is "acceptable input" including the idea of "nothing" and what to do when we get it is definitely missing from the specifications here... but I don't think that is a bad thing, it happens to be a good con

[2019-12-31 03:32] guygastineau commented on #407
### TL;DR
So I think that the first way we did this in bash was the right way to do it.  I think it is the right way to do it, because:
1. We can show ourselves how it is theoretically tantamount to abstracting the possibility of `something not-being` (`Maybe` or any option type), and then lifting the empty case of the monoid string into that abstraction.
2. There is some convention and precedent

[2019-12-31 16:24] glennj commented on #409
Right, fix has been merged.

[2019-12-31 16:24] #409 closed

[2019-12-31 16:50] guygastineau commented on #407
Well, I focused on the difference between nothing and `""`, but now I realize that this issue has more to do with whitespace.

[2019-12-31 19:40] kotp commented on #407
I usually will not mention the problematic space after the word before the "empty space" for the reason that this is an early exercise.  Otherwise, `"One for, one for me."` would be the desired result, if an empty space is not expected to be an error.

I say we focus on the default argument, that an empty record (in this case an empty string) is allowed, and in fact, any record at all is acceptabl

[2019-12-31 19:41] kotp commented on #407
Also, we shouldn't increment the number (not everyone will have access to edit, and perhaps we don't restrict it to only maintainers), but a voting icon... :+1: :-1:  or :eyes: as can be done from the emote button in that message.

[2020-01-01 17:47] guygastineau commented on #407
@kotp Thank you for switching the vote to be emoji based.  I hadn't considered how that closes it off to non-maintainers :smile:

If `two-fer` wasn't already changed to accept empty names I am willing to have that change happen, but that should have its own issue (it is really not so related to the title of this issue (more related to my accidental tangents in this issue)).

I also, think that it

[2020-01-01 21:40] kotp commented on #407
If you have not done so yet, @guygastineau you can click on the `...` to the top right of your [comment](https://github.com/exercism/bash/issues/407#issuecomment-570070761) and "reference in new issue".

[2020-01-09 14:46] kytrinyx opened #416 "Recruiting additional maintainers for Bash"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-10 19:56] guygastineau commented on #416
I have time 2-3 hours a week, and I am invested in seeing this track get to V3

[2020-01-11 03:54] bkhl commented on #412
@guygastineau , could you subscribe to the https://github.com/exercism/research_experiment_1/issues/32 issue as well, there's still a bit to be cleared up there.

[2020-01-11 03:55] guygastineau commented on #412
Sure thing!

[2020-01-13 09:44] bkhl commented on #416
I'll volunteer myself. I've found myself a bit involved lately anyway after becoming responsible for https://github.com/exercism/bash-test-runner .

I submit `run.sh` in there as my portfolio. :-)

[2020-01-18 04:08] kotp commented on #408
I think [RESOURCES.md](https://github.com/exercism/bash/blob/master/docs/RESOURCES.md) is a great place to put notable resources.

[2020-01-23 09:44] silent-mobius commented on #416
i'd love to volunteer - where do i sign up?

[2020-01-23 15:24] glennj commented on #416
I never did reply to this: I'm not going to be a principal driver for v3, but I'll help with discussing what the concept exercises can be and implementing them.

[2020-02-26 16:41] kotp commented on #408
#422 resolves this issue, I think.

[2020-02-26 16:41] #408 closed

[2020-03-10 14:15] braoult opened #426 "Bowling exercise -"
tests 15/16/17 will never be done as expected: People simply start script by testing if the number of frames is at least 10 (as in tests 23/24).
Tests 15-17 should have 10 frames, to force solution to handle what is expected (negative roll, and roll > 10).

[2020-03-10 17:50] glennj commented on #426
Well, to test if enough rolls to complete 10 frames have been provided, you have to process them, and while you're doing that you can test for invalid rolls and exit early.

If you'd like to make a pull request, have a look at https://github.com/exercism/bash/blob/master/CONTRIBUTING.md

[2020-03-10 18:06] braoult commented on #426
Oh, sorry, did not see the output check. Forget about it.

[2020-03-10 18:06] #426 closed

[2020-03-20 15:25] braoult opened #428 "wrong bash beautifier colors"
Not sure if this link is valid, nor if it is on exercism side:
On:
     https://exercism.io/my/solutions/7a25d82ea512403280f7fd168040eefb
... colorization is wrong from line 57, likely from column 21, the quote (') char (which is escaped with "\") looks like a normal quote, which makes all following code wrong.

[2020-03-20 22:00] glennj commented on #428
This is not an issue for the bash track. Exercism uses https://github.com/PrismJS/prism for syntax highlighting, so really the bug report should go there.

[2020-03-20 22:00] #428 closed

[2020-03-21 10:11] braoult commented on #428
There is a workaround: instead of \'<char> syntax, the "\<char>" seems to be understood by prism. another is to remove the quotes in comments:

Initial faulty lines:
[code]
The following works with prism:
[code]
as well as this :
[code]

Looks like prism is "lost" by having the multiple single quotes on same line, for some reason. I will fill a bug report.

[2020-03-21 16:17] braoult commented on #428
It has (normally) been fixed in prism:
- bug report : https://github.com/PrismJS/prism/issues/2255
- fix : https://github.com/PrismJS/prism/pull/2256

[2020-03-23 02:04] IsaacG commented on #416
I could probably do 1-2hr/wk. I got some major life changes coming up so it's hard to predict my availability.

[2020-03-23 02:12] IsaacG opened #432 "Consistent quoting of strings in `[[` in `_test.sh`"
The test files are somewhat inconsistent in how they treat strings on the right hand side of `[[ foo == bar ]]`.  It's about 50/50 double-quote vs no-quote with a handful of single quotes mixed in.

I was going to make a pull request to make them uniform ... but with the 50/50 split, I'm not sure which way to go. My personal preference would be doube-quote.

Discuss? Or maybe vote with emoji thumb

[2020-03-23 03:09] kotp commented on #432
No, the eyes don't mean something else... just that I saw it.  And I don't care, other than it is consistent.  It might be nice to explain what the differences are between single, double and no quotes.

Do we have a style guide that we can refer to for things like this?

[2020-03-23 03:26] IsaacG commented on #432
There's the Google Shell Style Guide I help maintain ... but I don't think it talks about it. Ditto on the Wooledge and Bash Hackers wikis. For fixed strings, it really, really, really doesn't matter. For consistent strings, double quotes are going to be the most common.

[2020-03-23 03:35] bkhl commented on #432
I'll just state my personal preference:

* quote over no quotes: often gives better syntax highlighting, and it's more obvious it's a string.
* double quotes over single quotes: larger and stand out better when there's no/broken syntax highlighting.
* switch to single quotes it allows fewer escapes.

Unless you want to use a "single format" formatter like Black or Gofmt, I don't think it really ma

[2020-03-23 13:00] glennj commented on #432
Keep in mind that the right hand side of == is a pattern.
[code]
Those conditionals clearly have different results.

The unquoted cases will have to be examined on a case by case basis.

I have a very slight preference for double quotes, I think they are more visible.

[2020-03-23 18:03] iHiD commented on #416
@IsaacG Great, thanks! I think you're already set up? But message me on Slack if you need any help :)

[2020-03-23 18:11] IsaacG commented on #432
I was going to be lazy and grep/sed for patterns that only matched `[[:alnum:]]*` on the RHS for the first pass so that should be fine.

[2020-03-28 21:01] #432 closed

[2020-05-27 07:33] qaws01395 opened #438 "Updates on Bats to Bats Core"
I was encountering issues when running bats on my Git bash on Windows. When I read through some conversation online and figured out they have [migrated](https://github.com/sstephenson/bats/pull/234#issuecomment-445023312) to [Bats Core](https://github.com/bats-core/bats-core).

It works well for me and the testing results looks exactly the same with Bats. Should we update the [Readme](https://gith

[2020-05-27 07:48] bkhl commented on #438
It seems we started doing that in January but then forgot about it. Started https://github.com/exercism/bash/pull/439 with that branch, with a few additional changes.

[2020-05-28 02:33] #438 closed

[2020-10-15 08:33] ErikSchierboom opened #451 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-22 06:43] ErikSchierboom commented on #451
Thanks to @SleeplessByte, we now have a really nice document and some starting workflows that you can use to help switch to GitHub Actions: https://github.com/exercism/problem-specifications/tree/master/workflows#workflow-templates

[2020-10-27 22:39] glennj commented on #451
Completed in #453

[2020-10-27 22:39] #451 closed

[2020-11-07 19:14] pmnord opened #456 "Latest release of bats-core does not play well with Windows 10"
I ran into this issue when trying to get bats running for the Bash scripting tests:
[https://github.com/bats-core/bats-core/issues/256
](https://github.com/bats-core/bats-core/issues/256
)
Reverting to version 1.1.0 solved the problem
[https://github.com/bats-core/bats-core/releases/tag/v1.1.0](https://github.com/bats-core/bats-core/releases/tag/v1.1.0
)

The instructions for getting bats running

[2020-11-09 16:52] glennj opened #457 "Problem with CI: affine-cipher"
I finally figured out why affine-cipher is failing the tests

It works fine interactively:
[code]

But it fails in a pipe:
[code]
This is due to the extraneous checks in the example.sh
[code]
I'm not sure where in the CI process that stdin becomes a named pipe, but the example.sh for affine should certainly be fixed.

[2020-11-10 21:25] #457 closed

[2020-11-10 21:25] #456 closed

[2020-11-10 23:25] glennj opened #460 "Problem with tournament exercise in GHA CI"
I've been working to get github actions CI working. Any commit to master will trigger the full test suite for all exercises. The Tournament exercise is currently failing.

At an interactive bash prompt, there's nothing wrong with the tournament exercise:
[code]

But upon commit to master, CI fails (https://github.com/exercism/bash/runs/1376729353):
[code]
This behaviour can be reproduced, with
[co

[2020-11-10 23:28] glennj commented on #460
@exercism/maintainers-admin can I get your thoughts on this? In a nutshell, we have an exercise where some tests do:
[code]
and some tests do
[code]
These latter tests are failing in GHA CI.

[2020-11-10 23:40] iHiD commented on #460
(cc @exercism/github-actions)

[2020-11-10 23:53] SaschaMann commented on #460
Maybe related to this https://github.com/actions/runner/issues/241?

I don't know bash well enough to know how to work around this issue.

[2020-11-11 00:21] cmccandless commented on #460
As a workaround, running the tests inside in separate docker container with `docker run -t`might work. I can put together a test PR tomorrow.

[2020-11-28 23:28] enderger opened #461 "Markdown exercise does not pass tests by default"
In the Markdown exercise, the default code does not pass test 14.
![](https://user-images.githubusercontent.com/36283171/100528108-e100ae00-318d-11eb-86e6-f8927083a62d.png)
This is in conflict with the instructions, which claim

[2020-11-29 20:03] glennj commented on #461
I'm not seeing any failures:
[code]
What platform are you on? What versions of bash, grep, expr?
What do you see running that test manually:
[code]

[2020-11-29 20:41] enderger commented on #461
System: NixOS Unstable Channel
Bash Version: GNU 4.4.23
Grep Version: GNU 3.5
Expr Version: UUtils 0.0.1
Command Output (removed -x since it is an output equality error): `<h1>his is a paragraph with # and * in the text</h1>`

[2020-11-30 13:55] glennj commented on #461
The trace output may prove helpful in determining where your system goes off course. I see
[code]
The key thing here to determine if the line is a header is this test
[code]
outputting non-zero

[2020-12-04 16:12] glennj commented on #461
@enderger are you OK now? Can I close this issue?

[2020-12-04 16:17] enderger commented on #461
I think the issue is with the UUtils expr as well, as it appears to be truncating the 'T' from "this".

[2020-12-04 16:17] #461 closed

[2021-01-07 14:38] ErikSchierboom opened #464 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The Bash section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare Bash for the launch of v3.

Ov

[2021-01-28 15:44] ErikSchierboom opened #466 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:46] ErikSchierboom commented on #466
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:23] ErikSchierboom commented on #464
As of today, the website has entered maintenance mode.

[2021-01-29 13:23] ErikSchierboom opened #468 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 13:23] ErikSchierboom opened #469 "Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 13:23] ErikSchierboom opened #470 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 13:23] ErikSchierboom opened #471 "Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 13:23] ErikSchierboom opened #472 "[v3] Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 13:23] ErikSchierboom opened #473 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 13:23] ErikSchierboom opened #474 "Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 13:23] ErikSchierboom opened #475 "Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 13:23] ErikSchierboom opened #476 "Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 13:23] ErikSchierboom opened #477 "[v3] Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [ ] [Configure online editor](https://github.com/exercism/bash/issues/468)
- [ ] [Add key features](https://github.com/exercism/bash/issues/469)
- [ ] [Add tags](https://github.c

[2021-01-29 18:22] glennj commented on #468
@exercism/bash do we have strong opinions about indentation. 4 spaces is my preference. The Google style guide [specifies 2 spaces](https://google.github.io/styleguide/shellguide.html#s5.1-indentation). I think this issue can be closed.

[2021-01-29 18:26] glennj commented on #472
Lint checks pass:
[code]

[2021-01-29 18:26] #472 closed

[2021-01-29 18:32] ErikSchierboom commented on #472
Closing this is fine, but do note that we've only implemented a couple of linting rules and that it might fail later on :)

[2021-01-29 19:05] kotp commented on #468
It is currently space and 4, and though I prefer 2 spaces, it should be fine.

[2021-01-29 19:05] #468 closed

[2021-01-29 19:30] glennj opened #479 "merge checks failing due to new exercises directory hierarchy"
See. https://github.com/exercism/bash/runs/1793817369

The bin/validate_exercises script needs updating to be able to handle the new `practice` subdirectory.

[2021-02-01 22:23] glennj commented on #479
Merged.

[2021-02-01 22:23] #479 closed

[2021-02-10 08:49] ErikSchierboom commented on #472
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you re-open this issue until we let you know otherwise. The issue's text has been updated to reflect this.

Sorry for the inconvenience.

[2021-02-10 09:12] ErikSchierboom commented on #471
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-03-03 15:10] glennj commented on #470
Done

[2021-03-03 15:10] #470 closed

[2021-04-30 14:18] #466 closed

[2021-07-14 13:30] ErikSchierboom opened #523 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:30] ErikSchierboom opened #524 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-07-15 12:37] glennj commented on #523
Done

[2021-07-15 12:37] #523 closed

[2021-07-15 12:37] glennj commented on #524
Done

[2021-07-15 12:37] #524 closed

[2021-07-20 17:06] #375 closed

[2021-08-17 16:33] MichaelDimmitt opened #531 "Add diffing support to bash tests"
Diffing is easy to attain in bats
If you add printDiff to every function.
It will only show the output if the test fails.

curious if @IsaacG has thoughts.

by changing
[code]
[code]

This actually just saved me on a project.
And I am sourcing the scripts like libs as is proposed in the pending pr
https://github.com/exercism/bash/pull/373

[2021-08-17 16:44] IsaacG commented on #531
My name was mentioned?

Drop the trailing semicolons. Use snake case naming consistently, including function names. Prefer printf over echo. Replace your `$(cat <<<END ... foo)` with `"foo"`. Prefer `((` over `[[` for numeric tests (`-eq 0`). Only print diff when there is a diff.

[2021-08-17 16:45] IsaacG commented on #531
If you're going to show diffs, you may want to actually show the diff, not just the want/expect. `diff` is usually installed on most boxes that support bash. Maybe `diff -u0 <("$want") <("$got")`

[2021-08-18 01:49] MichaelDimmitt commented on #531
Sorry about the mention, you always give great feedback
thanks for the insight I will try it out `diff -u0 <("$want") <("$got")`

[2021-08-18 10:02] ErikSchierboom commented on #476
Closing this as this track has no (active) Concept Exercises

[2021-08-18 10:02] #476 closed

[2021-08-18 14:43] ErikSchierboom opened #532 "Build analyzer"
In Exercism v3, we are making increased use of our v2 [analyzers](https://github.com/exercism/docs/blob/main/building/tooling/analyzers/README.md). Analyzers automatically assess student's submissions and provide mentor-style commentary. They can be used to catch common mistakes and/or do complex solution analysis that can't easily be done directly in a test suite.

Each analyzer is track-specific

[2021-08-18 14:43] ErikSchierboom opened #533 "Build representer"
In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/docs/blob/main/building/tooling/representers/README.md). The goal of the representer is to take a solution and returning a representation, which is an extraction of a solution to its essence with normalized names, comments, spacing, etc. but still uniquely identifying the approach taken. Two diff

[2021-08-18 15:08] ErikSchierboom commented on #474
We're closing this issue as two separate issues have been created to replace this combined issue.

[2021-08-18 15:08] #474 closed

[2021-08-19 01:13] IsaacG commented on #531
@MichaelDimmitt Feel free to mention me any time you want someone pedantic to nitpick your shell code :)

[2021-08-20 10:33] ErikSchierboom opened #534 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-08-22 15:15] MichaelDimmitt commented on #531
## Went with cmp for readibility purposes
also started a discussion on bats-core 🎉 https://github.com/bats-core/bats-core/issues/490
[code]
<img width="700" alt="Screen Shot 2021-08-22 at 11 11 45 AM" src="https://user-images.githubusercontent.com/11463275/130360371-db3e0e20-1afc-4225-9b89-685eea6d0e85.png">

[2021-08-22 16:52] IsaacG commented on #531
On a successful test, will this echo the output two times?

[2021-08-24 01:01] MichaelDimmitt commented on #531
on a successful test bats does not provide any output other than that the test passed.

[2021-08-27 00:58] MichaelDimmitt opened #536 "add bats-assert and bats-file plugins to bats test suite"
I created a request in bats-core to add homebrew support for their plugins using homebrew taps.

https://github.com/bats-core/bats-core/issues/492

In the meantime,
https://github.com/bats-core/bats-assert

Refers to
https://github.com/ztombol/bats-docs

Which uses the homebrew tap from kaos
https://github.com/kaos/homebrew-shell

[code]

[code]

then in every test you have to load the files.
[cod

[2021-08-27 23:13] glennj commented on #536
An additional note, the [list-ops test script](https://github.com/exercism/bash/blob/main/exercises/practice/list-ops/list_ops_test.sh) doesn't use `run`. While it would be nicer with `assert_equal`, it's OK without.

[2021-08-28 02:07] kotp commented on #536
I think there is definitely value in keeping the locally running test suite simple.  It is kind of irritating to need to have node or a package system in order to install a system for testing bash.  A simple assertion program that can evaluate if there are matches is often fine for testing, and simple if it is the same language as being taught.  Less barrier to entry.

[2021-09-01 16:58] #534 closed

[2021-09-02 13:09] ErikSchierboom commented on #416
We're closing this issue as it was part of our push to implement the v3 version of this track and v3 has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

New maintainer are always welcome though!

[2021-09-02 13:09] #416 closed

[2021-09-02 13:12] ErikSchierboom commented on #396
We're closing this issue as it was part of our research for the v3 version of Exercism which has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

Thanks everyone for chipping in! It has been greatly appreciated.

[2021-09-02 13:12] #396 closed

[2021-09-02 13:16] ErikSchierboom commented on #464
With Exercism v3 [just being released](https://exercism.org/blog/exercism-v3-has-launched), tracks are no longer in maintenance mode and are active again.
This means that changes made to this track will once again show on the website.

Thanks for being patient with us and enjoy Exercism v3!

[2021-09-02 13:16] #464 closed

[2021-09-02 21:38] glennj commented on #533
What tools to use? Here's a possibility:

The oilshell.org project implements a tool called OSH that can

[code]

[2021-09-02 21:40] glennj commented on #533
Another possibility:  https://github.com/vorpaljs/bash-parser

[2021-09-03 15:31] glennj commented on #531
I'm  coming around to this. With the v3 release of exercism, showing students that `[[ $output == $expected ]] fails` is just insufficient information.

[2021-09-03 16:01] glennj commented on #536
As I commented in #531, this has become more important for students coding in the online browser. Having the only test feedback as "the output failed" is no good.

What I did in the Tcl track is put a "testHelpers" file in every exercise, and the "<slug>.test" file will source it. That keeps the test file clean, but also makes the extra functionality available.

I propose to do the same thing for

[2021-09-04 20:13] #536 closed

[2021-09-04 20:13] #531 closed

[2021-09-15 12:56] braoult commented on #405
(From Slack discussion): I can do it, if everybody agrees: change shebang from `bash` to `bats`, and extension from `.sh` to `.bats`. I will look around too if some files refer to `xxx_test.sh`.

I am less clear on where are server-side tests (they will need to accept the 2 extensions).

Should solutions extension also be changed ? If yes, to `.bash` or dropped ? I believe some editors may not und

[2021-09-17 16:17] braoult commented on #405
See https://github.com/exercism/bash-test-runner/pull/27 and https://github.com/exercism/bash/pull/541.

[2021-09-17 23:06] #405 closed

[2021-09-28 14:41] glennj opened #544 "Don't need `node` for `bats`"
We get automated PRs like #543

The GitHub Actions pull in bats-core with `npm install -g bats`. The Ubuntu package `bats` is bats-core v1.1.0, so we no longer need node for bats.

The job step for CI and PR workflows
[code]
can be changed to
[code]

[2021-10-03 21:22] #544 closed

[2021-10-06 00:45] KartikSoneji commented on #394
Why not run shellcheck on the student's solution before submission?
The C/C++ coding tracks already treat all compiler warnings as errors.
I do not see why a mentor needs to copy-paste the errors and links that shellcheck reports.
Although some errors can be a little hard to grasp, so maybe make the more obscure ones warnings and ask the students to use mentoring if they are not clear on the meani

[2021-10-06 14:10] glennj commented on #394
We do: https://exercism-team.slack.com/archives/CB14WUD42/p1632843005049400

It doesn't run until _after_ submission though. And I don't know if it's visible to the mentor. Can you submit a bash exercise, including something you know shellcheck will flag, and them request me for mentoring (I think you can do that, otherwise ping me here or on Slack).

I'd be happy to get your feedback on the wordi

[2021-10-07 00:40] KartikSoneji commented on #394
Let us consider this code sample:
[code]

[Shellcheck](https://www.shellcheck.net/) returns a warning:
[code]

But the website still accepts the code _without informing the use about the issue_:
![image](https://user-images.githubusercontent.com/25801283/136292879-624e58d6-e82a-4661-8259-0251d23d0cb3.png)

Shellcheck output is displayed in the "Your iterations" section, but that is easy to miss.
I

[2021-11-03 23:10] austinmlv opened #557 "Pangram test fails with "bad substitution""
The tests for 'pangram' pass locally but fail on the exercism website. I think this is possibly due to different versions of bash and/or bats between my machine and the exercism website. Can anyone direct me to where I might find with version of bash and bats the website is using?

On my machine `bash --version` reports the following: `GNU bash, version 5.1.8(1)-release (x86_64-pc-linux-gnu)`
and

[2021-11-04 01:38] IsaacG commented on #557
Note `${var@L}` was only introduced fairly recently in v5.1. `bash 4.0` introduced a similar feature, `${var,,}`, which would be compatible with older shells.

The more general "issue" here is that Exercism's exercise runner VM is not running the latest version of bash. Infrastructure needs continuous upkeep and moving things to newer versions. Apparently the bash upgrade to 5.1 has not yet happen

[2021-11-04 14:52] austinmlv commented on #557
Thank you @IsaacG! I used the `${var,,}` expansion and it's working as expected. Do you know in which repository I can find the infrastructure information? Is it specific to each track or specific to the exercism/website repo? I have similar issues with the scheme track and don't know where to find the versions of software being run under that track's infrastructure too. Thanks again.

[2021-11-04 15:02] austinmlv commented on #557
I think I found the information I was looking for in the exercism/bash-test-runner/Dockerfile.

[2021-11-04 15:02] #557 closed

[2021-11-04 18:27] glennj commented on #557
@austinmlv do you think it would make sense to tell you (somewhere) that the test runner uses bash 5.0? Where would that information be placed?

[2021-11-04 19:02] austinmlv commented on #557
@glennj Maybe on the 'about' page for the bash track? Something like "Exercism uses Bash version 5.0 so make sure your solutions conform to that version"? Unless it's mentioned on the Exercism website and I overlooked it...

[2021-11-04 19:55] kotp commented on #557
If we can show it in the test runner, pass or fail, that might be a good place for it.  If it is in the README, it may end up being wrong part of the time (if that is forgotten to be updated.)  But the test is the actual environment.

[2021-12-06 18:03] glennj opened #558 "Not running tests with `bash` specifically"
I had a mentoring session where the student wanted to write portable code.

To facilitate this, we could do, for each exercise:
* at the top of the bats file, add `chmod u+x ./exercise.sh`
* each test can then `run ./exercise.sh ...`

I think we need to explicitly call chmod because I don't think we can rely on git/exercism to maintain executable bits.

This would allow the students to use whateve

[2021-12-06 18:04] glennj commented on #558
I didn't mean to assign, I meant to tag: @IsaacG @kotp @guygastineau

[2021-12-06 19:39] kotp commented on #558
How would we ensure that the tests are passable given the different potential different sh'bang?  Would there be a list of "target" shells?

[2021-12-06 19:53] glennj commented on #558
good point.

[2021-12-07 00:51] IsaacG commented on #558
I'm in favor of keeping this a `bash` track.

* Some of these exercises are painful using POSIX `sh`.
* If this is generic "shell of your choice", it'd be weird to have some students trying to use `zsh` when mentors might not be familiar. Or `ksh` and `csh`. Those are all different languages and not `bash`.

If a student wants to write POSIX `sh` and the mentor is comfortable with `sh`, then that'

[2021-12-07 03:12] kotp commented on #558
And the difference between invoking via `bash` or `sh`, using `source` and making executables is very much something that can be taught about bash shells.

[2021-12-07 14:36] glennj commented on #558
I appreciate the feedback. Closing this issue.

[2021-12-07 14:36] #558 closed

[2021-12-07 14:43] #391 closed

[2021-12-07 14:44] glennj commented on #287
I think, with exercism v3, this is no longer relevant.

[2021-12-07 14:44] #287 closed

[2021-12-07 14:58] glennj commented on #368
Links have been added to https://exercism.org/docs/tracks/bash/learning. Closing

[2021-12-07 14:58] #368 closed

[2021-12-07 14:59] #394 closed

[2021-12-07 15:01] #367 closed

[2021-12-07 15:02] #407 closed

[2021-12-07 15:03] #412 closed

[2021-12-07 17:40] kotp commented on #558
There could be an exercise specifically about "portable code" and with only one or two exercises, the idea of making it executable, and writing it so that it can be loaded / sourced as a non-clobbering function.  Or notes added about portability, and what approaches are POSIX and what may cause problems with different platforms and tooling.

[2021-12-07 18:01] glennj commented on #558
Hmm, maybe a refactoring-type exercise, where they're given a script loaded with bashisms and they need to make it POSIXy

[2021-12-10 13:51] IsaacG commented on #558
I feel like that's out of place on a bash track. This track is about the bash shell. We should be helping students learn bash, including all it's features. Having an exercise where students are then supposed to not use all the features and make their script work for a very different environment feels ... jarring?

If a student wants to write POSIX sh, they can simply set `POSIXLY_CORRECT` and do s

[2021-12-10 19:38] kotp commented on #558
I am definitely one for "go where the student wants to go" as it is their learning journey.  And this is one way to do that.  If the student asks "But what about portability?" then they can go down that path.

[2021-12-25 15:23] Kidlike opened #561 "command rev is not always working in exercism tests"
Hi,

I was implementing https://exercism.org/tracks/bash/exercises/luhn, and I tried to use `rev` to reverse the input string, so I can iterate in a positive loop (starting from 0 index).

While locally this worked fine, when I submitted it, one of the tests executed by exercism.io failed:
[code]

[code]

---

I don't know if it's in the spirit of this track to use such commands, but I thought I s